body {
    font-family: 'Poppins';
}

h1 {
    font-size: 1.50rem;
    color: #0CDA90;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 0.75rem;
    color: #000000;
    text-align: left;
}

.paragraph2 {
    background-color: #d9edff;
    border: 1px solid transparent #0CDA90;
    border-radius: 0.25rem;
    font-size: 12pt;
    line-height: 1.5;
    width: 25%;
    vertical-align: middle;
    text-align: center;
}

button {
    background-color: #0CDA90;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
    vertical-align: middle;
}

input [type="text"]{
    background-color: #d9edff;
    border: 1px solid #0CDA90;
    border-radius: 0.25rem;
    font-size: 12pt;
    line-height: 1.5;
    width: 25%;
    vertical-align: middle;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

div{
    text-align: center;
}