body {
    font-family: 'Poppins';
}

h1 {
    font-size: 1.50rem;
    color: #0CDA90;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 0.75rem;
    color: #000000;
    text-align: left;
}

button {
    background-color: #0CDA90;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
    vertical-align: middle;
}