body {
    font-family: 'Poppins';
}

heading {
    font-size: 1.50rem;
    color: #0CDA90;
    font-weight: bold;
    text-align: center;
}

paragraph {
    font-size: 0.75rem;
    color: #000000;
    text-align: left;
}

button {
    background-color: #0CDA90;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
    vertical-align: middle;
}