body {
    font-family: 'Poppins';
}

table {
    padding: 0;
    border-collapse: separate;
}

h1 {
    font-size: 30px;
    color: #0CDA90;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #0CDA90;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #0CDA90;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-size: 16px;
    color: #0CDA90;
    font-weight: bold;
    text-align: center;
}

h5 {
    font-size: 12px;
    color: #0CDA90;
    font-weight: bold;
    text-align: center;
}

#block {
    border-style: solid;
    border-width: 4px;
    border-color: #0CDA90;
    border-radius: 0.25rem;
    border-left-width: 30px;
    padding: 0.5em;
    font-family: 'Poppins';
    margin: 80px 100px 80px 100px;
}

#date {
    font-family: 'Poppins';
    font-size: 10px;
    text-align: left;
}

#center {
    font-family: 'Poppins';
    font-size: 10px;
    text-align: center;
}

#location {
    font-family: 'Poppins';
    font-size: 10px;
    text-align: right;
}

button {
    background-color: #0CDA90;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 12pt;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}

li {
    font-family: 'Poppins';
    margin: 15px 0;
    font-weight: bold;
    font-size: 12px;
}

img {
    border-radius: 50%;
}

th {
  width: 400px;
  text-align: center;
  font-family: 'Poppins';
}

hr {
    border-color: #0CDA90;
    background-color: #0CDA90;
    height: 1px;
    border: 0;
}

.right-align {
    text-align: right;
}

pre {
    font-family: "Poppins"
}

.small-image {
    width: 10%
}

.big-image {
    width: 15%
}

.center {
    display: flex;
    justify-content: center;
}

.icon {
    width: 15px;
    height: 15px;
    border-radius: 0rem;
}