.header {
    text-align: center;
    font-family: 'Oi';
    color: #1e231d;
    vertical-align: middle;
}

h1 {
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}

h2 {
    font-size: 75px;
    text-align: center;
    vertical-align: middle;
}

body {
    background-image: url('trees.jpeg');
    color: #030303;
}

.center-text {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background-color: rgb(37, 180, 37);
    font-size:18px;
    width: 50%;
}

button {
    background-color: #0CDA90;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 12pt;
    line-height: 1.5;
    text-align: center;
    position: relative;
    float: right;
    right:10%;
    width: 50%;
    font-size:18px;
}

.left-text {
    text-align: center;
    position: relative;
    left:10%;
    width:50%;
    font-size:18px;
    float: left;
}

.accordion-image {
    width: 50%;
    float:left;
}

.tree-name {
    font-size:30px;
    position:relative;
    background-color: darkgreen;
    color: white;
    vertical-align: middle;
}

.next-tree {
    position:relative;
    margin-top: 20px;
}