.header {
    text-align: center;
    font-family: 'Oi';
    color: #1e231d;
    vertical-align: middle;
}

h1 {
    font-size: 100px;
}

body {
    background-image: url('trees.jpeg');
    color: #030303;
}