.header {
    text-align: center;
    font-family: 'Vidaloka';
    color: #1e231d;
    vertical-align: middle;
}

h1 {
    font-size: 75px;
    text-align: center;
    vertical-align: middle;
}

p {
    font-size: 16px;
    font-family: 'Montserrat';
}

body {
    background-image: url('trees.jpeg');
    backdrop-filter: blur(6px);
}

.center-text {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background-color: rgb(37, 180, 37);
    font-size: 18px;
    width: 50%;
    font-family: 'Montserrat';
    padding: 5px;
}

.button {
    background-color: #0CDA90;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 12pt;
    line-height: 1.5;
}

.right-text {
    text-align: center;
    position: absolute;
    float: right;
    right: 10%;
    width: 50%;
    font-size: 18px;
    overflow: auto;
    font-family: 'Montserrat';
    padding: 5px;
}

.left-text {
    text-align: center;
    position: absolute;
    left: 10%;
    width: 50%;
    font-size: 18px;
    overflow: auto;
    float: left;
    font-family: 'Montserrat';
    padding: 5px;
}

.accordion-image {
    width: 40%;
    float: left;
    border-radius: 0.5rem;
    border: 4px solid #0CDA90;
}

.tree-name {
    font-size: 24px;
    position: absolute;
    background-color: darkgreen;
    color: white;
    vertical-align: middle;
    font-family: 'Lora'
}

.next-tree {
    position: relative;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin-block: 500px;
    padding: 0;
    overflow: hidden;
    background-color: #0cda90;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lora';
}

/* Change the link color to green on hover */
li a:hover {
    background-color: darkgreen;
}

#block {
    border-style: solid;
    border-width: 4px;
    border-color: #0CDA90;
    border-radius: 0.25rem;
    font-family: 'Poppins';
    padding: 2px;
}

#block2 {
    border-style: solid;
    border-width: 4px;
    border-color: #0CDA90;
    border-radius: 0.25rem;
    font-family: 'Poppins';
    padding: 2px;
    margin-left: 400px;
    margin-right: 400px;
}

hr {
    color: black;
    width: 60%;
}

nav {
    color: green;
}

.box {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 12px;
    color: #0cda90;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
  }
