<!DOCTYPE html>
<html>
    <head>
      <title>Availability</title>
      <link rel="stylesheet" href="../static/group2.css">
    </head>

        <body>
        
        <h2>Add your availabilities:</h2>
        
        <form id="parent">

          <input type="text" placeholder="Day" id="fname" name="fname"> 
          
          <span class="child">
            <input class="time" type="text" placeholder="Time" id="lname" name="lname">
            
            <label class="color">to<input class="time" type="text" placeholder="Time" id="lname" name="lname"></label>
          </span>

        </form>
        
        </body>

        <div class="button">
          &#8853;
        </div>
        <button1>&rarr;</button1>
        <button2>&larr;</button2>
</html>