<!DOCTYPE html>
<html>
    <head>
        <style> 
        input[type=text] {
          width: 20%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid #0CDA90;
          border-radius: 4px;
          margin: auto;
        }
        </style>
    </head>

        <body>
        
        <center><h2>Add your availabilities</h2></center>
        
        <center><form>
          
          <input type="text" placeholder="Day" id="fname" name="fname"> 
          
          <input type="text" placeholder="Time" id="lname" name="lname">
        </form></center>
        
        </body>
        <header>U+2295</header>
    <head>
        <title>Availability</title>
        <link rel="stylesheet" href="styles.css">
    </head>

</html>