<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/group2.css">
    </head>
    <body>
        <h1>Choose Your Class</h1>
        <div class="center">
        <label class="color">Search by class:<input type="text" id="fname" name="fname" autocomplete="on">
        </label>
        </div>

        <form>
        <p class="rcorners1">Math MA</p>
        <p class="rcorners1">Math MA</p>
        <p class="rcorners1">Math MA</p>
        </form>
        
        <button1>&rarr;</button1>
        <button2>&larr;</button2>
    </body>
</html>