<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <title> Contact </title>
    <link rel="stylesheet" href="static/group3.css">
</head>

<body>
    <div align="center">
        <h1>
            Contact
        </h1>
    </div>
    <div id="block">
        <h1>
            Contact Information:
        </h1>
        <ul>
            <li>Name </li>
            <li>Email:</li>
            <li>Phone number:</li>
            <li>Social media:</li>
        </ul>
</body>

</html>
        
            