<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="static/group3.css">
    <title> Contact </title>
</head>

<body>
    <div class="center">
        <h1>
            Contact
        </h1>
    </div>
    <div id="block">
        <h4>
            User Contact Information:
        </h4>
        <ul>
            <li>Name </li>
            <li>Email:</li>
            <li>Phone number:</li>
            <li>Social media:</li>
        </ul>
</body>

</html>
        
            