{% extends "layout.html" %}

{% block main %}
<h1 class="header">Tree Finder</h1>
<div id="block2">
    <p>
        <strong>
            In the yard and can't find out what type of tree you're looking at? Input some quick information and we'll
            find out for you!
        </strong>
    </p>
</div>
<form action="/finder" method="post">
    <div id="block2">
        <div class="row">
            <div class="column">
                <img src="static/img/pointed-lobed.jpg" style="width:100%">
                <div class="highlight">Pointed Lobed</div>
            </div>
            <div class="column">
                <img src="static/img/lobed.jpg" style="width:100%">
                <div class="highlight">Curved Lobed</div>
            </div>
            <div class="column">
                <img src="static/img/needles.jpg" style="width:100%">
                <div class="highlight">Needle</div>
            </div>
            <div class="column">
                <img src="static/img/pointed.jpg" style="width:100%">
                <div class="highlight">Pointed</div>
            </div>
            <div class="column">
                <img src="static/img/teardrop.jpg" style="width:100%">
                <div class="highlight">Long Teardrop</div>
            </div>
            <div class="column">
                <img src="static/img/ridged-teardrop.jpg" style="width:100%">
                <div class="highlight">Ridged Teardrop</div>
            </div>
            <div class="column">
                <img src="static/img/string.jpg" style="width:100%">
                <div class="highlight">Compound</div>
            </div>
            <div class="column">
                <img src="static/img/misc.jpg" style="width:100%">
                <div class="highlight">Miscellaneous</div>
            </div>
        </div>
        <label for="leaves" class="highlight">What does your leaf look like?</label>
        <select class="box" name="leaftype">
            <option value=""></option>
            <option value="Pointed Lobes">Pointed Lobes</option>
            <option value="Curved Lobes">Curved Lobes</option>
            <option value="Needles">Needles</option>
            <option value="Pointed">Pointed</option>
            <option value="Ridged Teardrop">Ridged Teardrop</option>
            <option value="Long Teardrop">Long Teardrop</option>
            <option value="Compound">Compound</option>
            <option value="Misc">None of These</option>
        </select>
    </div>
    <div id="block2">
        <div class="row">
            <div class="column">
                <img src="static/img/lobed/pin-oak-bark.jpg" style="width:100%">
                <div class="highlight">Slightly Smooth</div>
            </div>
            <div class="column">
                <img src="static/img/misc/european-beech-bark.jpg" style="width:100%">
                <div class="highlight">Super Smooth</div>
            </div>
            <div class="column">
                <img src="static/img/lobed/red-oak-bark.jpg" style="width:100%">
                <div class="highlight">Scaly</div>
            </div>
            <div class="column">
                <img src="static/img/needles/english-yew-bark.jpeg" style="width:100%">
                <div class="highlight">Flaky</div>
            </div>
        </div>
        <label for="bark" class="highlight">What does your bark look like?</label>
        <select class="box" name="barktype">
            <option value=""></option>
            <option value="Super Smooth">Super Smooth</option>
            <option value="Slightly Smooth">Slightly Smooth</option>
            <option value="Scaly">Scaly</option>
            <option value="Flaky">Flaky</option>
        </select>
    </div>
    <div id="block2">
        <div class="row">
            <div class="column">
                <img src="static/img/cone.jpg" style="width:100%">
                <div class="highlight">Cone</div>
            </div>
            <div class="column">
                <img src="static/img/acorn.jpg" style="width:100%">
                <div class="highlight">Acorn</div>
            </div>
            <div class="column">
                <img src="static/img/berry.jpg" style="width:100%">
                <div class="highlight">Berry</div>
            </div>
            <div class="column">
                <img src="static/img/flower.jpg" style="width:100%">
                <div class="highlight">Flower</div>
            </div>
            <div class="column">
                <img src="static/img/helicopter.jpg" style="width:100%">
                <div class="highlight">Helicopter</div>
            </div>
            <div class="column">
                <img src="static/img/bean.jpg" style="width:100%">
                <div class="highlight">Bean Pod</div>
            </div>
            <div class="column">
                <img src="static/img/nut.jpg" style="width:100%">
                <div class="highlight">Nut</div>
            </div>
        </div>
        <label for="fruit" class="highlight">What does your fruit look like?</label>
        <select class="box" name="fruittype">
            <option value=""></option>
            <option value="Cone">Cone</option>
            <option value="Acorn">Acorn</option>
            <option value="Berry">Berry</option>
            <option value="Flower">Flower</option>
            <option value="Helicopter">Helicopter</option>
            <option value="Bean Pod">Bean Pod</option>
            <option value="Nut">Nut</option>
        </select>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Find My Tree</button>
    </div>
</form>

<p class="center-text">Want some suggestions?</p>
<p class="center-text">Try Curved Lobes, Scaly, Acorn!</p>
<p class="center-text">Or maybe Long Teardrop, Slightly Smooth, Flower!</p>
<p class="center-text">Or any tree that you observe in the yard!</p>

{% endblock %}