{% extends "layout.html" %}

{% block main %}
<h1 class="header">We Found Your Tree!</h1>

<div id="block2">
    <table class="styled-table">
            <tr>
                <th>Name</th>
                {% for tree in tree_name %}
                <td> {{ tree }} </td> 
                {% endfor %}
            </tr>
            <tr>
                <th>Picture</th>
                {% for image in url %}
                <td> <img width="100%" height="100%" src="{{  image  }} "> </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Is this Your Tree?</th>
                {% for file in html %}
                <td><a href="{{ file }}">YES</a></td> 
                {% endfor %}
            </tr>
    </table>
</div>
    
{% endblock %}