<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            grade_selection
        </title>
    </head>
    <body>
        <h1>
            Grade Level
        </h1>
        <h2>
            Choose preferred grade level of matches.
        </h2>
        <h3>
            Select all that apply
        </h3>
        <div>
            <button>
                Freshman
            </button>
        </div>
        <div>
            <button>
                Sophomore
            </button>
        </div>
        <div>
            <button>
                Junior
            </button>
        </div>
        <div>
            <button>
                Senior
            </button>
        </div>
    </body>
</html>