<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <title>
            grade_selection
        </title>
    </head>
    <body class="centered">
        <h1 class="large">
            Grade Level
        </h1>
        <h2 class="medium">
            Choose preferred grade level of matches.
            <div>
            Select all that apply 
            </div>
        </h2>
        <main class="small">
            <div>
                <button class="button">
                    Freshman
                </button>
            </div>
            <div>
                <button class="button">
                    Sophomore
                </button>
            </div>
            <div>
                <button class="button">
                    Junior
                </button>
            </div>
            <div>
                <button class="button">
                    Senior
                </button>
            </div>
        </main>
    </body>
</html>