<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/group2.css" rel="stylesheet">
        <title> Grade Selection </title>
    </head>
    <body class="center">
        <h1> Grade Level </h1>
        <h2> Choose preferred grade level of matches. </h2>
        <h3> Select all that apply. </h3>
        <div>
            <button class="button5"> Freshman </button>
        </div>
        <div>
            <button class="button5"> Sophomore </button>
        </div>
        <div>
            <button class="button5"> Junior </button>
        </div>
        <div>
            <button class="button5"> Senior </button>
        </div>
    </body>
</html>