<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="static/group3.css">
    <title> Your Group Matches </title>
</head>

<body>
    <h1>
        Your Group Matches
    </h1>
    </h3>
    <div id="block">
        <pre> Group 1 </pre>
        <table class="center">
            <tr>
                <th>
                    <pre> <img src="https://cdn-icons-png.flaticon.com/512/55/55281.png" class ="icon"> Friday</pre>
                </th>
                <th>
                    <pre text-align: center> <img src="https://cdn-icons-png.flaticon.com/512/3917/3917267.png" class ="icon"> 8:30 AM - 9:30 AM</pre>
                </th>
                <th>
                    <pre text-align: right> <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_location_on_48px-512.png" class ="icon"> Lamont Library</pre>
                </th>
            </tr>
        </table>
        <hr>
        <ul>
            <li>Class: </li>
            <li>Size:</li>
            <li>Grade Level(s):</li>
        </ul>
        <div class="right-align">
            <button>
                Join Group
            </button>
        </div>
    </div>

    <div id="block">
        <pre> Group 2 </pre>
        <table class="center">
            <tr>
                <th>
                    <pre><img src="https://cdn-icons-png.flaticon.com/512/55/55281.png" class ="icon"> Tuesday</pre>
                </th>
                <th>
                    <pre text-align: center><img src="https://cdn-icons-png.flaticon.com/512/3917/3917267.png" class ="icon"> 3:00 PM - 5:00 PM</pre>
                </th>
                <th>
                    <pre text-align: right><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_location_on_48px-512.png" class ="icon"> Cabot Library</pre>
                </th>
            </tr>
        </table>
        <hr>
        <ul>
            <li>Class: </li>
            <li>Size:</li>
            <li>Grade Level(s):</li>
        </ul>
        <div class="right-align">
            <button>
                Join Group
            </button>
        </div>
    </div>

    <div id="block">
        <pre> Group 3 </pre>
        <table class="center">
            <tr>
                <th>
                    <pre><img src="https://cdn-icons-png.flaticon.com/512/55/55281.png" class ="icon"> Sunday</pre>
                </th>
                <th>
                    <pre><img src="https://cdn-icons-png.flaticon.com/512/3917/3917267.png" class="icon"> 7:45 PM - 9:45 PM</pre>
                </th>
                <th>
                    <pre><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_location_on_48px-512.png" class="icon"> Smith Center</pre>
                </th>
            </tr>
        </table>
        <hr>
        <ul>
            <li>Class: </li>
            <li>Size:</li>
            <li>Grade Level(s):</li>
        </ul>
        <div class="right-align">
            <button>
                Join Group
            </button>
        </div>
    </div>
</body>

</html>