<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
        <title> Group Profile </title>
        <link rel="stylesheet" href="static/group3.css">
    </head>
    
    <body>
    <div id="block">
    <h1>
        Group Name
    </h1>
    <ul>
        <li>Class: </li>
        <li>Meeting Day:</li>
        <li>Meeting Time:</li>
        <li>Location:</li>
        <li>Size:</li>
        <li>Grade Level(s):</li>
        <li>Working Style:</li>
        
        <h5>
            <center>
                Members
            </center>
        </h5>
        <div class="row">
            <div class="column">
              <img src="img_snow.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="img_forest.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
              <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
            </div>
          </div>
     </ul>
     </body>
     <div align="center">
     <button>
        Join Group
     </button>
    </div>
    Terms of Service + User Agreement
</html>
    
    
    

    