<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <title>
            group_size
        </title>
    </head>
    <body class="centered">
        <h1 class="large">
            Group Size
        </h1>
        <h2 class="medium">
            Choose preferred group size.
        </h2>
        <h3 class="small">
            Select best option.
        </h3>
        <div>
            <button class="button">
                3
            </button>
        </div>
        <div>
            <button class="button">
                4-5
            </button>
        </div>
        <div>
            <button class="button">
                6-8
            </button>
        </div>
        <div>
            <button class="button">
                9-10
            </button>
        </div>
    </body>
</html>