<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <title> YOUR GROUP MATCHES </title>
    <link rel="stylesheet" href="static/group3.css">
</head>

<body>
    <h1>
        Your Group Matches
    </h1>
    </h3>
    <div id="block">
        <pre> Group Name </pre>
        <hr color="0CDA90">
        <table class="center">
            <tr>
                <th>
                    <img src="downloads/location.png"> <pre>Friday</pre>
                </th>
                <th>
                    <img src="downloads/location.png"> <pre>8:30 AM - 9:30 AM</pre>
                </th>
                <th>
                    <img src="downloads/location.png"> <pre>Lamont Library</pre>
                </th>
            </tr>
        </table>
        <div align="right">
            <button>
               Join Group
            </button>
        </div>
    </div>

    <div id="block">
        <pre> Group Name </pre>
        <hr color="0CDA90">
        <table class="center">
            <tr>
                <th>
                    <pre><!--Image of that date icon-->   Tuesday</pre>
                </th>
                <th>
                    <pre><!--Image of that time icon-->   3:00 PM - 5:00 PM</pre>
                </th>
                <th>
                    <pre><!--Image of that location icon-->   Cabot Library</pre>
                </th>
            </tr>
        </table>
        <div align="right">
            <button>
               Join Group
            </button>
        </div>
    </div>

    <div id="block">
        <pre> Group Name </pre>
        <hr color="0CDA90">
        <table class="center">
            <tr>
                <th>
                    <pre><!--Image of that date icon-->   Sunday</pre>
                </th>
                <th>
                    <pre><!--Image of that time icon-->   7:45 PM - 9:45 PM</pre>
                </th>
                <th>
                    <pre><!--Image of that location icon-->   Smith Center</pre>
                </th>
            </tr>
        </table>
        <div align="right">
            <button>
               Join Group
            </button>
        </div>
    </div>
</body>

</html>