<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
        <title> Group Profile </title>
        <link rel="stylesheet" href="static/group3.css">
    </head>
    
    <body>
    <div id="block">
    <h1>
        Group Name
    </h1>
    <ul>
        <li>Class: </li>
        <li>Meeting Day:</li>
        <li>Meeting Time:</li>
        <li>Location:</li>
        <li>Size:</li>
        <li>Grade Level(s):</li>
        <li>Working Style:</li>
        <li>Members</li>
     </ul>
     </body>
     <div align="center">
     <button>
        Join Group
     </button>
    </div>
    Terms of Service + User Agreement
</html>
    
    
    

    