<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/group2.css" rel="stylesheet">
        <title> Group Size </title>
    </head>
    <body class="center">
        <h1> Group Size </h1>
        <h2> Choose preferred group size. </h2>
        <h3> Select best option. </h3>
        <div>
            <button class="button_preferences"> 3 </button>
        </div>
        <div>
            <button class="button_preferences"> 4-5 </button>
        </div>
        <div>
            <button class="button_preferences"> 6-8 </button>
        </div>
        <div>
            <button class="button_preferences"> 9-10 </button>
        </div>
    </body>
</html>