<!DOCTYPE html>
<html lang="en">
    <head>
        <title> YOUR GROUP MATCHES </title>
        <link rel="stylesheet" href="static/group3.css">
    </head>
    
    <body>
    <h1>
        Your Group Matches
    </h1>
    <div id="block">
    <h2>
        
    </h2>
    </h3>
        <pre> Group Name </pre>
        <table class="center">
            <tr>
                <th>
                    <pre><!--Image of that date icon-->   Friday</pre>
                </th>
                <th>
                    <span style="display:inline-block; width: 10;"></span><!--Image of that time icon-->   8:30 AM - 9:30 AM
                </th>
                <th>
                    <span style="display:inline-block; width: 10;"></span><!--Image of that location icon-->   Lamont Library
                </th>
            </tr>
        </table>

    </body>
</html>