<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            group_size
        </title>
    </head>
    <body>
        <h1>
            Group Size
        </h1>
        <h2>
            Choose preferred group size.
        </h2>
        <h3>
            Select best option.
        </h3>
        <div>
            <button>
                3
            </button>
        </div>
        <div>
            <button>
                4-5
            </button>
        </div>
        <div>
            <button>
                6-8
            </button>
        </div>
        <div>
            <button>
                9-10
            </button>
        </div>
    </body>
</html>