{% extends "layout.html" %}

{% block title %}
Index Page
{% endblock %}

{% block main %}
<div class="header">
    <h1>TREE &nbsp; S &nbsp; 50</h1>
</div>

<h2 class="center-text">
    Welcome to TREE S 50!!! Have you ever been exploring Harvard Yard, admiring the trees and you just want
    to find out more information about them? Look no further than Tree S 50! This website is a collection of
    50 trees found in Harvard Yard along with information about each one!
</h2>
<h2 class="center-text">
    Want help identifying a tree in the yard? Use our Find Your Tree Feature!
</h2>
{% endblock %}