{% extends "layout.html" %}

{% block main %}
    <h1 class="header">Lobed Leaves</h1>

    <img src="static/img/lobed.jpg" class="w-50 center">

    <div class="center-text">
            One common type of leaf is a lobed leaf, which is very common among the Oak family specifically,
            within Harvard Yard, there are 5 different species of trees that have lobed leaves. 
    </div>
    
    <br>
    <br>

    <!-- Red Oak image and accordion with info-->
    <div style="margin-bottom:40%">
      <!-- Red Oak Image-->
      <div style="text-align:left">
        <img src="static/img/red-oak.jpg" class="w-25 left-text">
        <h3 class="tree-name left-text w-25">Red Oak</h3>
      </div>
      <!-- Red Oak Accordion with all info-->
      <div class="accordion right-text w-50" id="ROAccordion" style="display:inline-block">
        <div class="accordion-item">
          <h2 class="accordion-header" id="ROHeading1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse1" aria-expanded="true" aria-controls="ROCollapse1">
              Leaves
            </button>
          </h2>
          <div id="ROCollapse1" class="accordion-collapse collapse show" aria-labelledby="ROHeading1" data-bs-parent="#ROAccordion">
            <div class="accordion-body" style="text-align:center">
              <img src="static/img/red-oak-leaf.jpg" class="accordion-image">
              <strong>The Leaf of the Red Oak has pointed lobes.</strong>
              The lobes of the leaf refers to the different compartments of the leaf that appear to be protruding out.
              In the Red Oak, these lobes are pointed. Normally, there are between 7 to 11 lobes on each leaf of a Red Oak,
              and these leaves can vary in size, with large leaves growing up to 9 inches long!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="ROHeading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse2" aria-expanded="false" aria-controls="ROCollapse2">
              Bark
            </button>
          </h2>
          <div id="ROCollapse2" class="accordion-collapse collapse" aria-labelledby="ROHeading2" data-bs-parent="#ROAccordion">
            <div class="accordion-body" style="text-align:center">
              <img src="static/img/red-oak-bark.jpg" class="accordion-image" style="float:right">
              <strong>The bark of the Red Oak is quite unique.</strong>
              Red Oak bark is usually (unsurprisingly) red in color but has lines of silver that run through the bark.
              As the tree ages, fisures form which appear as "cracks" in the tree. These cracks contribute to the scaly
              appearance of the Red Oak. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="ROHeading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse3" aria-expanded="false" aria-controls="ROCollapse3">
              Fun Facts
            </button>
          </h2>
          <div id="ROCollapse3" class="accordion-collapse collapse" aria-labelledby="ROHeading3" data-bs-parent="#ROAccordion">
            <div class="accordion-body">
              <strong>Red Oak trees have multiple ways of reproducing.</strong> 
              A Red Oak tree is actually able to reproduce in two different ways: through seeds and through it's roots.
              Reproduction through seeds is the most common form of reproduction among plants, and little has to be explained about it.
              But, how Red Oaks can also reproduce is by roots which is essentially when a new shoot of the tree starts growing 
              up from the roots. 
            </div>
          </div>
        </div>
      </div>
    </div>

    <br> 

    <div style="margin-bottom:40%">
      <!-- Red Oak Image-->
      <div style="text-align:left">
        <img src="static/img/white-oak.jpg" class="w-25 left-text">
        <h3 class="tree-name left-text w-25">White Oak</h3>
      </div>
      <!-- Red Oak Accordion with all info-->
      <div class="accordion right-text w-50" id="WOAccordion" style="display:inline-block">
        <div class="accordion-item">
          <h2 class="accordion-header" id="WOHeading1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse1" aria-expanded="true" aria-controls="WOCollapse1">
              Leaves
            </button>
          </h2>
          <div id="WOCollapse1" class="accordion-collapse collapse show" aria-labelledby="WOHeading1" data-bs-parent="#WOAccordion">
            <div class="accordion-body" style="text-align:center">
              <img src="static/img/white-oak-leaf.jpg" class="accordion-image">
              <strong>The Leaf of the White Oak has curved lobes.</strong>
              Although many people confuse Red Oaks with White Oaks, the key difference comes with their 
              leaf shapes! The Red Oak has leaves that are pointed at their lobes, while the white oak has
              no points and is entirely curvey. Each leaf usually contains 7 to 9 lobes, and each leaf can grow
              to be about 5 inches long. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="WOHeading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse2" aria-expanded="false" aria-controls="WOCollapse2">
              Bark
            </button>
          </h2>
          <div id="WOCollapse2" class="accordion-collapse collapse" aria-labelledby="WOHeading2" data-bs-parent="#WOAccordion">
            <div class="accordion-body" style="text-align:center">
              <img src="static/img/white-oak-bark.jpg" class="accordion-image" style="float:right">
              <strong>The bark of a White Oak is very intriguing.</strong>
              White Oak bark, unlike Red Oaks which just has the appearance of it, is actually broken into scales.
              This is due to the fact that as the tree ages, it grows furrows, which then break into scales. Oftentimes, 
              when you look closey at a White Oak, you can find patches of bark that are entirely smooth, and that is where
              recent scales have fallen off of the bark to make way for the new wood underneath.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="WOHeading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse3" aria-expanded="false" aria-controls="WOCollapse3">
              Fun Facts
            </button>
          </h2>
          <div id="WOCollapse3" class="accordion-collapse collapse" aria-labelledby="WOHeading3" data-bs-parent="#WOAccordion">
            <div class="accordion-body">
              <strong>White Oak Bark actually serves many purposes.</strong> 
              For centuries, people have been using the bark of White Oaks for its medicinal qualities. White Oak bark
              can be made into a tea that is used to treat various illnesses such as arthritis, diarrhea, and fevers. 
              Other cultures have used White Oak bark in a compress and rubbed it onto areas of swelling in an attempt to
              stop inflammation. 
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}