<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/group2.css" rel="stylesheet">
        <title> Location Type </title>
    </head>
    <body class="center">
        <h1> Location Type </h1>
        <h2> Choose preferred location type. </h2>
        <h3> Select best option. </h3>
        <div>
            <button class="button_preferences"> Quiet </button>
        </div>
        <div>
            <button class="button_preferences"> Lively </button>
        </div>
        <div>
            <button class="button_preferences"> Collaborative </button>
        </div>
    </body>
</html>