<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            location
        </title>
    </head>
    <body>
        <h1>
            Location
        </h1>
        <h2>
            Choose preferred locations.
        </h2>
        <h3>
            Select all that apply. 
        <div>
            <button>
                Yard
            </button>
        </div>
        <div>
            <button>
                Quad
            </button>
        </div>
        <div>
            <button>
                River Houses
            </button>
        </div>
        <div>
            <button>
                Allston
            </button>
        </div>
    </body>
</html>