<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            location_type
        </title>
    </head>
    <body>
        <h1>
            Location Type
        </h1>
        <h2>
            Choose preferred location type.
        </h2>
        <h3>
            Select best option.
        </h3>
        <div>
            <button>
                Quiet
            </button>
        </div>
        <div>
            <button>
                Lively
            </button>
        </div>
        <div>
            <button>
                Collaborative
            </button>
        </div>
    </body>
</html>