<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <title>
            location
        </title>
    </head>
    <body class="centered">
        <h1 class="large">
            Location
        </h1>
        <h2 class="medium">
            Choose preferred locations.
        </h2>
        <h3 class="small">
            Select all that apply. 
        <div>
            <button class="button">
                Yard
            </button>
        </div>
        <div>
            <button class="button">
                Quad
            </button>
        </div>
        <div>
            <button class="button">
                River Houses
            </button>
        </div>
        <div>
            <button class="button">
                Allston
            </button>
        </div>
    </body>
</html>