<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <title>
            location_type
        </title>
    </head>
    <body class="centered">
        <h1 class="large">
            Location Type
        </h1>
        <h2 class="medium">
            Choose preferred location type.
        </h2>
        <h3 class="small">
            Select best option.
        </h3>
        <div>
            <button class="button">
                Quiet
            </button>
        </div>
        <div>
            <button class="button">
                Lively
            </button>
        </div>
        <div>
            <button class="button">
                Collaborative
            </button>
        </div>
    </body>
</html>