<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/group2.css" rel="stylesheet">
        <title> Location </title>
    </head>
    <body class="center">
        <h1> Location </h1>
        <h2> Choose preferred locations. </h2>
        <h3> Select all that apply. </h3>
        <div>
            <button class="button_preferences"> Yard </button>
        </div>
        <div>
            <button class="button_preferences"> Quad </button>
        </div>
        <div>
            <button class="button_preferences"> River Houses </button>
        </div>
        <div>
            <button class="button_preferences"> Allston </button>
        </div>
    </body>
</html>