<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <link href="../static/group1.css" rel="stylesheet" type="text/css">
    <title>Log In</title>
  </head>

  <body>
    <h1>
      TREE S 50 
    </h1>
    <h2 class="textbox">
      Sign In Below:
      <div>
        <input type="text" placeholder="Harvard Email Address"><br>
        <input type="text" placeholder="Password"><br>
      </div>
      <div>
        <button id="logIn">Log In</button>
      </div>
    </h2>
    
  </body>
</html>