{% extends "layout.html" %}

{% block main %}
<h1 class="header">Miscellaneous Leaves</h1>

<!-- Make an explanation for what that leaf type is and how many times it is seen in the yard. -->
<div class="center-text">
    There are some leaves that don't fall into any of the five previous categories but are still
    important to Harvard Yard! Here we will explore 5 different tree species that have miscellaneously
    shaped leaves in Harvard Yard!
</div>

<br>
<br>

<!-- GINKGO -->
<div style="margin-bottom:50%">
    <div style="text-align:left">
        <!-- Start each tree with an image of it as a whole, which is put off to the left side of the screen. -->
        <img src="static/img/misc/gingko.jpg" class="w-25 left-text">
        <!-- The name of the tree along with the scientific name and an a tag which allows a url 
        to go exactly to that place in the html file. -->
        <h3 class="tree-name left-text w-25"><a id="1"></a>Ginkgo (Ginkgo Biloba)</h3>
    </div>

    <!-- Accordion for the tree with all of the information about it and images inside of the accordion. -->
    <div class="accordion right-text w-50" id="ROAccordion" style="display:inline-block">
        <div class="accordion-item">
            <h2 class="accordion-header" id="ROHeading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse1"
                    aria-expanded="true" aria-controls="ROCollapse1">
                    Leaves
                </button>
            </h2>
            <div id="ROCollapse1" class="accordion-collapse collapse show" aria-labelledby="ROHeading1"
                data-bs-parent="#ROAccordion">
                <div class="accordion-body" style="text-align:center">
                    <!-- What the user sees when this piece of the accordion is open. -->
                    <!-- An image about the part of the tree we are talking about, with css to discuss width in 
                    proportion to screen size. -->
                    <img src="static/img/misc/ginkgo-leaf.jpg" class="accordion-image">
                    <div id="block">
                        <!-- The actual text of the research we have done. -->
                        <strong>The leaves of the Ginkgo Tree are a unique fan shape which have been around for millions
                            of years!</strong>
                        The leaves of the ginkgo tree are extremely distinct from other leaves, having a wonderful fan
                        shape
                        to them. In addition to their speical shape, ginkgo leaves have an amazing history behind them.
                        The leaves of
                        ginkgo trees were found fossilized from as far back as 200 million years ago! That's back when
                        dinosaurs walked the earth
                        and this tree has remain largely unchanged since then! These leaves are also famous for the
                        bright yellow color that
                        they turn in the fall, which lights up the entire tree.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="ROHeading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ROCollapse2" aria-expanded="false" aria-controls="ROCollapse2">
                    Bark
                </button>
            </h2>
            <div id="ROCollapse2" class="accordion-collapse collapse" aria-labelledby="ROHeading2"
                data-bs-parent="#ROAccordion">
                <div class="accordion-body" style="text-align:center">
                    <!-- Same as the description above for leaves, but with picture of bark. -->
                    <img src="static/img/misc/ginkgo-bark.jpg" class="accordion-image" style="float:right">
                    <div id="block">
                        <strong>Ginkgo bark changes color and texture as the tree matures.</strong>
                        A young Ginkgo tree has gray bark which is rather smooth. As the tree ages, not only does the
                        bark
                        become more deeply furrowed, but the color also changes. Older Ginkgo trees have a browner bark
                        color than
                        their younger counterparts. The wood of Ginkgos is extremely weak, which makes it an almost
                        worthless tree commercially.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="ROHeading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ROCollapse3" aria-expanded="false" aria-controls="ROCollapse3">
                    Fun Facts
                </button>
            </h2>
            <div id="ROCollapse3" class="accordion-collapse collapse" aria-labelledby="ROHeading3"
                data-bs-parent="#ROAccordion">
                <div class="accordion-body">
                    <div id="block">
                        <!-- Fun fact about the tree, with no image involved this time. -->
                        <strong>Ginkgo fruit is extremely foul smelling for a good evolutionary reason!</strong>
                        Female Ginkgo Trees produce berries, which are how the tree reproduces. But, once these berries
                        fall to the ground
                        they start emitting a foul smell, which can be described as smelling like rotting flesh! The
                        reason why
                        these berries release this smell is because it attracts carnivorous animals to eat the berries
                        and then once the berries
                        are consumed, the seeds will be pooped out by the animals in another place and thus allows for
                        the tree to
                        reproduce! And, since this tree has been around since the time of dinosaurs, you can imagine
                        that some of those
                        predators that have been attracted to the smell of ginkgo berries were dinosaurs themselves!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!-- EUROPEAN BEECH -->
<!-- Format done in the same way as the first one -->
<div style="margin-bottom:50%">
    
    <div style="text-align:left">
        <img src="static/img/misc/european-beech.jpg" class="w-25 left-text">
        <h3 class="tree-name left-text w-25"><a id="2"></a>European Beech (Fagus Sylvatica)</h3>
    </div>
    <!-- The only difference is that the id of the accordion and all of the controls have to be unique 
    to this accordion within the html.  --> 
    <div class="accordion right-text w-50" id="WOAccordion" style="display:inline-block">
        <div class="accordion-item">
            <h2 class="accordion-header" id="WOHeading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse1"
                    aria-expanded="true" aria-controls="WOCollapse1">
                    Leaves
                </button>
            </h2>
            <div id="WOCollapse1" class="accordion-collapse collapse show" aria-labelledby="WOHeading1"
                data-bs-parent="#WOAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/european-beech-leaf.jpg" class="accordion-image">
                    <div id="block">
                        <strong>European Beech leaves have hair on them!</strong>
                        Yes, you read that correctly, trees can have hair! If you look closely on the edge of the
                        European Beech,
                        you can see small hair follicles surrounding the entire leaf. These little hairs serve as a
                        defense mechanism for
                        the tree to fend off against predators. For small insects, these little hairs serve essentially
                        as barbs that have the
                        ability to get them stuck to the leaf and therefore be vulnerable to predators, and for larger
                        predators,
                        these hairs are annoying and irritating in their mouth, which serves as a reminder to not eat
                        that leaf anymore.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="WOHeading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WOCollapse2" aria-expanded="false" aria-controls="WOCollapse2">
                    Bark
                </button>
            </h2>
            <div id="WOCollapse2" class="accordion-collapse collapse" aria-labelledby="WOHeading2"
                data-bs-parent="#WOAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/european-beech-bark.jpg" class="accordion-image" style="float:right">
                    <div id="block">
                        <strong>European Beech bark is known for it's extreme smoothness.</strong>
                        European Beech Trees are extremely famous because of their smooth and delicate bark. The bark
                        is very thin, which means many things for the tree. For one, European Beeches are extremely
                        popular
                        among young lovers because it is the perfect tree to carve your name on in a heart, which is
                        done a lot.
                        But, it also the thinness and delicacy of the bark is harmful because it can lead to the bark
                        being damaged more
                        easily than most species of trees.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="WOHeading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WOCollapse3" aria-expanded="false" aria-controls="WOCollapse3">
                    Fun Facts
                </button>
            </h2>
            <div id="WOCollapse3" class="accordion-collapse collapse" aria-labelledby="WOHeading3"
                data-bs-parent="#WOAccordion">
                <div class="accordion-body">
                    <div id="block">
                        <strong>Why the European Beech is not in the Teardrop category is because these leaves are not
                            always teardrop shaped!</strong>
                        Despite what the image in the Leaf section shows, European Beech leaves do not always have a
                        Teardrop shape. They begin the spring
                        season crumpled in almost a ball, and spend the next few months since Spring unfurling into
                        their full teardrop shape.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!-- COMMON HAWTHORN -->
<div style="margin-bottom:50%">
    
    <div style="text-align:left">
        <img src="static/img/misc/hawthorn.jpg" class="w-25 left-text">
        <h3 class="tree-name left-text w-25"><a id="3"></a>Common Hawthorn (Crataegus Monogyna)</h3>
    </div>
    
    <div class="accordion right-text w-50" id="SWOAccordion" style="display:inline-block">
        <div class="accordion-item">
            <h2 class="accordion-header" id="SWOHeading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse1"
                    aria-expanded="true" aria-controls="SWOCollapse1">
                    Leaves
                </button>
            </h2>
            <div id="SWOCollapse1" class="accordion-collapse collapse show" aria-labelledby="SWOHeading1"
                data-bs-parent="#SWOAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/hawthorn-leaf.jpg" class="accordion-image">
                    <div id="block">
                        <strong>The Common Hawthorn leaf is a mixture of several leaf types which we have talked
                            about.</strong>
                        The Common Hawthorn leaf could be categorized as both a lobed leaf and also as a pointed leaf.
                        The overall shape
                        of the leaf is very similar to most of the Maples that we have seen, yet the leaf does not have
                        many points that deine it.
                        Instead of points, each segment of the leaf is curved rather than pointed, which puts this leaf
                        in the miscellaneous categories.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="SWOHeading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#SWOCollapse2" aria-expanded="false" aria-controls="SWOCollapse2">
                    Bark
                </button>
            </h2>
            <div id="SWOCollapse2" class="accordion-collapse collapse" aria-labelledby="SWOHeading2"
                data-bs-parent="#SWOAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/hawthorn-bark.jpg" class="accordion-image" style="float:right">
                    <div id="block">
                        <strong>The bark of the Common Hawthorn is extremely flaky.</strong>
                        The bark of this tree is a grey to brown color and develops great fissures in it as the tree
                        ages.
                        Another interesting thing about the bark and trunk of the tree is that this tree is known for
                        growing rather
                        haphazardly, with the tree shape becoming very knotted, and even occasionally the tree will loop
                        back
                        in on itself and a branch will reattach at a later location!
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="SWOHeading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#SWOCollapse3" aria-expanded="false" aria-controls="SWOCollapse3">
                    Fun Facts
                </button>
            </h2>
            <div id="SWOCollapse3" class="accordion-collapse collapse" aria-labelledby="SWOHeading3"
                data-bs-parent="#SWOAccordion">
                <div class="accordion-body">
                    <div id="block">
                        <strong>The Hawthorn is known in it's local environment for it's beautiful berries!</strong>
                        Another name for the Common Hawthorn is the English Hawthorn because it is native to England.
                        But, within
                        England, it has a different name; it is known as the May-Tree. This is because the Hawthorn has
                        brilliant bright red berries
                        which appear in full bloom in May.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!-- LITTLE LEAF LINDEN -->
<div style="margin-bottom:50%">
    
    <div style="text-align:left">
        <img src="static/img/misc/little-leaf-linden.jpg" class="w-25 left-text">
        <h3 class="tree-name left-text w-25"><a id="4"></a>Little-Leaf Linden (Tilia Cordata)</h3>
    </div>
    
    <div class="accordion right-text w-50" id="ScarAccordion" style="display:inline-block">
        <div class="accordion-item">
            <h2 class="accordion-header" id="ScarHeading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse1"
                    aria-expanded="true" aria-controls="ScarCollapse1">
                    Leaves
                </button>
            </h2>
            <div id="ScarCollapse1" class="accordion-collapse collapse show" aria-labelledby="ScarHeading1"
                data-bs-parent="#ScarAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/little-leaf-linden-leaf.jpg" class="accordion-image">
                    <div id="block">
                        <strong> Little Leaf Linden leaves have a heart shape!</strong>
                        The leaves of the Little Leaf Linden are in the miscellaneous category
                        because they have a unique heart shape to them. From the stem, the leaf curves
                        back towards the brach before returning to create a point, which forms a heart!
                        Some leaves on the Linden don't develop properly and therefore only one side does
                        the dip inward like a heart.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="ScarHeading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ScarCollapse2" aria-expanded="false" aria-controls="ScarCollapse2">
                    Bark
                </button>
            </h2>
            <div id="ScarCollapse2" class="accordion-collapse collapse" aria-labelledby="ScarHeading2"
                data-bs-parent="#ScarAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/little-leaf-linden-bark.jpg" class="accordion-image" style="float:right">
                    <div id="block">
                        <strong>The Little Leaf Linden bark has shallow ridged that form into plates.</strong>
                        The bark of the Little Leaf Linden is a gray color with furrows that don't go too deep into the bark.
                        The wood underneath the bark is extremely fibrous. Unlike a lot of scaly trees which begin their lives as smooth, 
                        the Little Leaf Linden is scaly for almost all of it's life.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="ScarHeading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ScarCollapse3" aria-expanded="false" aria-controls="ScarCollapse3">
                    Fun Facts
                </button>
            </h2>
            <div id="ScarCollapse3" class="accordion-collapse collapse" aria-labelledby="ScarHeading3"
                data-bs-parent="#ScarAccordion">
                <div class="accordion-body">
                    <div id="block">
                        <strong>Little Leaf Linden Wood is not very hardy, but it does have many sculptural qualities!</strong>
                        Most types of wood that are valuable in trades are valuable for their durability and strength, but the Little Leaf 
                        Linden is valuable for the exact opposite reason! Because of the wood's pliability and ability to be easily shapen,
                        it is popular in both wood sculpting and also used to create musical instruments such as recorders 
                        and the bodies of guitars!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!-- REDBUD -->
<div style="margin-bottom:50%">
    
    <div style="text-align:left">
        <img src="static/img/misc/redbud.jpeg" class="w-25 left-text">
        <h3 class="tree-name left-text w-25"><a id="5"></a>Redbud (Cercis Canadensis)</h3>
    </div>
    
    <div class="accordion right-text w-50" id="PinAccordion" style="display:inline-block">
        <div class="accordion-item">
            <h2 class="accordion-header" id="PinHeading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse1"
                    aria-expanded="true" aria-controls="PinCollapse1">
                    Leaves
                </button>
            </h2>
            <div id="PinCollapse1" class="accordion-collapse collapse show" aria-labelledby="PinHeading1"
                data-bs-parent="#PinAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/redbud-leaf.jpg" class="accordion-image">
                    <div id="block">
                        <strong>Similar to the Little Leaf Linden, Redbuds have very distinct heart-shaped leaves.</strong>
                        The leaves of the Redbud can grow to be up to five inches long and are even more of a distinctive heart 
                        shape than that of the Little Leaf Linden. Whereas the Linden tends to have leaves that are only 
                        heart shaped on one half, the Redbud has heart-shaped leaves throughout the entire tree. 
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="PinHeading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#PinCollapse2" aria-expanded="false" aria-controls="PinCollapse2">
                    Bark
                </button>
            </h2>
            <div id="PinCollapse2" class="accordion-collapse collapse" aria-labelledby="PinHeading2"
                data-bs-parent="#PinAccordion">
                <div class="accordion-body" style="text-align:center">
                    <img src="static/img/misc/redbud-bark.jpg" class="accordion-image" style="float:right">
                    <div id="block">
                        <strong> The Redbud Tree has a flaky bark, which unveils a deep orange or even maroon layer of wood underneath. </strong>
                        The bark of the Redbud Tree is a dark brown to black color, and as the tree grows it becomes 
                        more flaky, with pieces of bark falling off rather easily. When the bark falls off, it exposes the 
                        underlayer of wood which has a very interesting dark orange to maroon color, making this tree's wood 
                        very unique and special.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="PinHeading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#PinCollapse3" aria-expanded="false" aria-controls="PinCollapse3">
                    Fun Facts
                </button>
            </h2>
            <div id="PinCollapse3" class="accordion-collapse collapse" aria-labelledby="PinHeading3"
                data-bs-parent="#PinAccordion">
                <div class="accordion-body">
                    <div id="block">
                        <strong>The Redbud is so resplendent and beautifully adorned with flowers that it caught to attention of a certain important historical figure.</strong>
                        The Redbud is a tree that is relatively easy to maintain, and as such it can be found throughout 
                        almost all of the United States, which has been the case for hundreds of years. One day, while he was hiking 
                        in the woods in Pennsylvania, George Washington spotted a redbud and loved it so much that he order that redbuds be 
                        uprooted from the Pennsylvania forest and brought to his house in Mount Vernon!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}