{% extends "layout.html" %}

{% block main %}
  <h1 class="header">Needles</h1>

  <img src="static/img/needles.jpg" class="w-50 center">

  <div class="center-text">
    Despite what some people think, needles are actually leaves! Trees that have needles produce cones 
    (like pine cones) and are called conifers! While most conifers are evergreen, you will soon learn that 
    some actually do shed their needles for the winter! 
  </div>
    
  <br>
  <br>

  <!-- Red Oak image and accordion with info-->
  <div style="margin-bottom:50%">
    <!-- Red Oak Image-->
    <div style="text-align:left">
      <img src="static/img/needles/eastern-white-pine.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25">Eastern White Pine (Pinus Strobus)</h3>
    </div>
    <!-- Red Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="EWPAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse1" aria-expanded="true" aria-controls="EWPCollapse1">
            Leaves
          </button>
        </h2>
        <div id="EWPCollapse1" class="accordion-collapse collapse show" aria-labelledby="EWPHeading1" data-bs-parent="#EWPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/needles/eastern-white-pine-needles.jpg" class="accordion-image">
            <div id="block">
              <strong>The Needles of the Eastern White Pine are soft, flexible, and grow together.</strong>
              The needles of the Eastern White Pine can grow rather large, growing up to 5 inches long. 
              One distinguishing fact about them is that when you touch them, they are not extremely pointy 
              and stiff but are rather soft and flexible to the touch. Another distinguishing fact about 
              these needles is that wherever you see them sprouting from the main branch, they grow in clusters 
              of 5 needles per bud. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse2" aria-expanded="false" aria-controls="EWPCollapse2">
            Bark
          </button>
        </h2>
        <div id="EWPCollapse2" class="accordion-collapse collapse" aria-labelledby="EWPHeading2" data-bs-parent="#EWPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/needles/eastern-white-pine-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the Eastern White Pine changes drastically as it grows.</strong>
              When an Eastern White Pine is young, the bark is a grayish-green color and is very smooth. 
              As the tree grows up, the bark turns into a dark grey color and starts to develop furrows and cracks in
              the surface of the bark. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse3" aria-expanded="false" aria-controls="EWPCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="EWPCollapse3" class="accordion-collapse collapse" aria-labelledby="EWPHeading3" data-bs-parent="#EWPAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Eastern White Pine tree played an important part in American History!</strong> 
              The word "white" in the name comes from the fact that when the tree is freshly cut down
              for lumbering, the wood is a white color. This led to it being heavily sought after in the 
              US colonies in the 18th century. Colonial Americans would cut down the trees and make a profit off
              of their wood, but the british government didn't like that because they wanted to be the ones to profit 
              off of their wood. This led to the British making a law that all trees that had trunks greater than 
              2 feet in diameter belonged to the British government. This law applied to all trees, but was specifically 
              passed because of their desire for the Eastern White Pine! This law added to the rising tension between colonists 
              and the british government, and the rest is history! 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/white-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25">White Oak (Quercus Alba)</h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="WOAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse1" aria-expanded="true" aria-controls="WOCollapse1">
            Leaves
          </button>
        </h2>
        <div id="WOCollapse1" class="accordion-collapse collapse show" aria-labelledby="WOHeading1" data-bs-parent="#WOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/white-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Leaf of the White Oak has curved lobes.</strong>
              Although many people confuse Red Oaks with White Oaks, the key difference comes with their 
              leaf shapes! The Red Oak has leaves that are pointed at their lobes, while the white oak has
              no points and is entirely curvey. Each leaf usually contains 7 to 9 lobes, and each leaf can grow
              to be about 5 inches long. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse2" aria-expanded="false" aria-controls="WOCollapse2">
            Bark
          </button>
        </h2>
        <div id="WOCollapse2" class="accordion-collapse collapse" aria-labelledby="WOHeading2" data-bs-parent="#WOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/white-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of a White Oak is very intriguing.</strong>
              White Oak bark, unlike Red Oaks which just has the appearance of it, is actually broken into scales.
              This is due to the fact that as the tree ages, it grows furrows, which then break into scales. Oftentimes, 
              when you look closey at a White Oak, you can find patches of bark that are entirely smooth, and that is where
              recent scales have fallen off of the bark to make way for the new wood underneath.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse3" aria-expanded="false" aria-controls="WOCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="WOCollapse3" class="accordion-collapse collapse" aria-labelledby="WOHeading3" data-bs-parent="#WOAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>White Oak Bark actually serves many purposes.</strong> 
              For centuries, people have been using the bark of White Oaks for its medicinal qualities. White Oak bark
              can be made into a tea that is used to treat various illnesses such as arthritis, diarrhea, and fevers. 
              Other cultures have used White Oak bark in a compress and rubbed it onto areas of swelling in an attempt to
              stop inflammation. Unlike the Red Oak which gets its name from its bark, the White Oak gets
              its name because during the summer and spring seasons, the underside of the leaves appears to be a white-ish green color.
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Swamp White Oak-->
  <div style="margin-bottom:50%">
    <!-- Swamp White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/swamp-white-oak.png" class="w-25 left-text">
      <h3 class="tree-name left-text w-25">Swamp White Oak (Quercus Bicolor)</h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="SWOAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse1" aria-expanded="true" aria-controls="SWOCollapse1">
            Leaves
          </button>
        </h2>
        <div id="SWOCollapse1" class="accordion-collapse collapse show" aria-labelledby="SWOHeading1" data-bs-parent="#SWOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/swamp-white-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              
            <strong>Similar to the White Oak, the Leaf of the Swamp White Oak has curved lobes.</strong>
              The Swamp White Oak, as it's name would suggest, has a very similar leaf shape to the White Oak, with 
              both the White and Swamp White Oaks having rounded lobes. Swamp White Oak leaves have more lobes than do 
              White Oak containing between 9 and 11 lobes usually. Swamp White Oak tree leaves grow to be between 5 and 7
              inches long. 
            
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse2" aria-expanded="false" aria-controls="SWOCollapse2">
            Bark
          </button>
        </h2>
        <div id="SWOCollapse2" class="accordion-collapse collapse" aria-labelledby="SWOHeading2" data-bs-parent="#SWOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/swamp-white-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the Swamp White Oak is similar to that of the White Oak.</strong>
              The bark of the Swamp White Oak has a similar scaly appearance as that of the White Oak. 
              When the tree is young, the bark is exceptionally flimsy and often times will look as if it is 
              peeling off the tree. As the tree ages, the bark grows deeper furrows and instead gains a scaly
              effect. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse3" aria-expanded="false" aria-controls="SWOCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="SWOCollapse3" class="accordion-collapse collapse" aria-labelledby="SWOHeading3" data-bs-parent="#SWOAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Swamp White Oak was named for a cool feature of it's leaves.</strong> 
              The scientific name of the Swamp White Oak is quercus bicolor, with bicolor meaning "two colors".
              The two colors that the name refers to is the dark green color of the top of the leaf and the bright
              white color of the bottoms of the leaves. The common name for the tree, Swamp White Oak, was named after
              the tree's preference for swampy and humid environments. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Scarlet Oak-->
  <div style="margin-bottom:50%">
    <!-- Scarlet Oak Image-->
    <div style="text-align:left">
      <img src="static/img/scarlet-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25">Scarlet Oak (Quercus Coccinea)</h3>
    </div>
    <!-- Scarlet Accordion with all info-->
    <div class="accordion right-text w-50" id="ScarAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse1" aria-expanded="true" aria-controls="ScarCollapse1">
            Leaves
          </button>
        </h2>
        <div id="ScarCollapse1" class="accordion-collapse collapse show" aria-labelledby="ScarHeading1" data-bs-parent="#ScarAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/scarlet-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Scarlet Oak has similar to the Red Oak, with some key differences. </strong>
              Unlike the previous two trees, the lobes on the Scarlet Oak are pointed. The Scarlet Oak leaves 
              mostly all have 7 lobes, with very few containing 9. These leaves can grow between 4 and 7 inches.
              To tell Scarlet Oak and Red Oak leaves apart, you can look at the spaces between the lobes as Scarlet
              Oaks have a much more drastic indent between lobes as opposed to the Red Oak. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse2" aria-expanded="false" aria-controls="ScarCollapse2">
            Bark
          </button>
        </h2>
        <div id="ScarCollapse2" class="accordion-collapse collapse" aria-labelledby="ScarHeading2" data-bs-parent="#ScarAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/scarlet-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>Similar to the rest of the Oak family, the Scarlet Oak has scaly bark. </strong>
              Similar to the rest of the oak family, the Scarlet Oak develops furrows as it ages. But, unlike other 
              species in the family, these furrows are not very deep and instead remain rather close to the surface. 
              The inner bark between the furrows is a pink color when the tree is young, and as the tree ages this 
              inner bark turns orange. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse3" aria-expanded="false" aria-controls="ScarCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="ScarCollapse3" class="accordion-collapse collapse" aria-labelledby="ScarHeading3" data-bs-parent="#ScarAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>The Scarlet Oak is a very resilient tree. </strong> 
              The Scarlet Oak has adapted to grow in dry environments. The tree can grow along ridges and slopes with
              an elaborate root system. Because of this extensive root system, it means several things for the tree:
              For one, the tree is much harder to uproot because of it's ability to grow along ridges. For another thing,
              the Scarlet Oak is able to survive droughts much better than other trees because its elaborate trunk allows
              for optimal water storage.
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Pin Oak-->
  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/pin-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25">Pin Oak (Quercus Palustris)</h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="PinAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse1" aria-expanded="true" aria-controls="PinCollapse1">
            Leaves
          </button>
        </h2>
        <div id="PinCollapse1" class="accordion-collapse collapse show" aria-labelledby="PinHeading1" data-bs-parent="#PinAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/pin-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Pin Oak has the most simplied lobed leaves of the trees we have seen. </strong>
              The leaves of the Pin Oak are very similar to those of the Scarlet Oak, only they are 
              simpler. Pin Oak leaves mostly have 5 lobes, all of which are pointed. Also similar to 
              the Scarlet Oak, the gaps between lobes in the Pin Oak are very drastic, meaning that the biggest 
              distinction comes with the amount of lobes on the leaf. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse2" aria-expanded="false" aria-controls="PinCollapse2">
            Bark
          </button>
        </h2>
        <div id="PinCollapse2" class="accordion-collapse collapse" aria-labelledby="PinHeading2" data-bs-parent="#PinAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/pin-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> Unlike most of the oaks, the Pin Oak has soft bark. </strong>
              When the Pin Oak is young, the bark is extremely soft and smooth. As the tree grows, the 
              bark begins to grow furrows, but unlike oaks like the Red Oak or White Oak, the Pin Oak
              never gets deep furrows, only growing deep enough to make small lines in the bark, but the 
              bark itself stays rather smooth.  
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse3" aria-expanded="false" aria-controls="PinCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="PinCollapse3" class="accordion-collapse collapse" aria-labelledby="PinHeading3" data-bs-parent="#PinAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Pin Oak is a tree of many names. </strong> 
              The name Pin Oak derives from the fact that when Pin Oak branches are young, they are extremely
              sharp and durable, which is the reverse of most trees, which start their branches off as weak, 
              soft wood. But, while this is the common name, the Pin Oak is also known as the Swamp Oak (Not to be
              confused with White Swamp Oak), the Water Oak, or the Spanish Oak for its ability to grow in wet and swampy
              environments. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/black-oak.jpeg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25">Black Oak (Quercus Velutina)</h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="BAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse1" aria-expanded="true" aria-controls="BCollapse1">
            Leaves
          </button>
        </h2>
        <div id="BCollapse1" class="accordion-collapse collapse show" aria-labelledby="BHeading1" data-bs-parent="#BAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/black-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Black Oak leaf is similar to that of other oaks, but with one special characteristic. </strong>
              Upon first glance, the leaves of the Black Oak look strikingly similar to those of the Scarlet Oak
              or even the Red Oak. Black Oak leaves have 7 to 9 lobes, and the space between the lobes can be either
              shallow like the Red Oak or deep like the Scarlet Oak, so that is not useful to tell them apart. What 
              you can use to tell these leaves apart is the fact that at the tip of each lobe on the Black Oak, there is 
              a sharp bristle which is often yellowish, which no other oaks have.
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse2" aria-expanded="false" aria-controls="BCollapse2">
            Bark
          </button>
        </h2>
        <div id="BCollapse2" class="accordion-collapse collapse" aria-labelledby="BHeading2" data-bs-parent="#BAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/black-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> The bark of the Black Oak is where it gets its name. </strong>
              Unlike the White Oak and Swamp White Oak, which get their names from their leaves, the Black 
              Oak is named for it's dark grey to black bark. Similar to a lot of the oak family, the bark of 
              the Black Oak is furrowed and has a scaly appearance. The inner bark between the furrows also has 
              a dark coloration, being a deep orange color.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse3" aria-expanded="false" aria-controls="BCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="BCollapse3" class="accordion-collapse collapse" aria-labelledby="BHeading3" data-bs-parent="#BAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The scientific names derives from it's bud's fuzzy nature. </strong> 
              When you think about Black Oaks, I bet you don't think of them as being fuzzy, but actually
              their scientific name, Quercus Velutina, is derived from the Latin word for "fleece"! This is 
              because the buds of the tree, which grow into acorns, are exceptionally fuzzy when they begin their 
              growth process in the spring! 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}