<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
        <link href="../static/group1.css" rel="stylesheet" type="text/css">
        <title>Your Profile</title>
    </head>
    <body>
        <h1>Profile</h1><br>
        <form class="left">
            <h3 class="textbox">Full Name:</h3><br>
            <h3 class="textbox">HUID:</h3><br>
            <h3 class="textbox">Harvard Email Address:</h3><br>
            <h3 class="textbox">House/Dorm:</h3><br>
            <h3 class="textbox">Class:</h3><br>
            <h3 class="textbox">Classes and Matches:</h3><br>
            <h3 class="textbox">Preferences:</h3><br>
        </form>
        
    </body>
</html>