<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
        <link href="../static/group1.css" rel="stylesheet" type="text/css">
        <title>Your Profile</title>
    </head>
    <body>
        <h1>Profile</h1><br>
        
        <h3>Full Name:</h3><br>
        <h3>HUID:</h3><br>
        <h3>Harvard Email Address:</h3><br>
        <h3>House/Dorm:</h3><br>
        <h3>Class:</h3><br>
        <h3>Classes and Matches:</h3><br>
        <h3>Preferences:</h3><br>
        
    </body>
</html>