<!DOCTYPE html>
<html>
    <head>
        <title>Preferences</title>
    </head>
    <body>
        <header>Choose Preferences</header>
        <label for="preferences">Rank your preferences:</label>
        <select name="preferences" id="preferences">
            <p>1</p><option value="Group Size">Group Size</option>
            <b>1</b><option value="Class Year">Class Year</option>
            <b>1</b><option value="Working Location">Working Location</option>
            <b>1</b><option value="Concentration">Concentration</option>
            <b>1</b><option value="Frequency">Frequency</option>
            <b>1</b><option value="Work Habits">Work Habits</option>
        </select>
    </body>
</html>