<!DOCTYPE html>
<html>
    <head>
        <title>Preferences</title>
        <link rel="stylesheet" href="group2.css">
    </head>
    <body>
        <header>Choose Preferences</header>
        <label for="preferences">Rank your preferences:</label>
        <select name="preferences" id="preferences">
            <b>1</b><option value="Group Size">Group Size</option>
            <b>2</b><option value="Class Year">Class Year</option>
            <b>3</b><option value="Working Location">Working Location</option>
            <b>4</b><option value="Concentration">Concentration</option>
            <b>5</b><option value="Frequency">Frequency</option>
            <b>6</b><option value="Work Habits">Work Habits</option>
        </select>
    </body>
</html>