<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/group2.css" rel="stylesheet">
        <title> Session Length </title>
    </head>
    <body class="center">
        <h1> Session Length </h1>
        <h2> Choose lenght of session. </h2>
        <h3> Select best option. </h3>
        <div>
            <button class="button_preferences"> 1 hour </button>
        </div>
        <div>
            <button class="button_preferences"> 2-3 hours </button>
        </div>
        <div>
            <button class="button_preferences"> 4+ hours </button>
        </div>
    </body>
</html>