<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            session_length
        </title>
    </head>
    <body>
        <h1>
            Session Length
        </h1>
        <h2>
            Choose lenght of session.
        </h2>
        <h3>
            Select best option.
        </h3>
        <div>
            <button>
                1 hour
            </button>
        </div>
        <div>
            <button>
                2-3 hours
            </button>
        </div>
        <div>
            <button>
                4+ hours
            </button>
        </div>
    </body>
</html>