<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
        <link href="../static/group1.css" rel="stylesheet" type="text/css">
        <title>Sign Up</title>
    </head>
    <body>
        <h1>
            Problem Set Buddy Finder
        </h1>
        <h2 class="textbox">
            Having trouble finding Pset Groups? Friends? Both?
            Well, T4SG has the solution for you! Just sign up
            and a PSET buddy will waiting at your door!
        </h2>
        <br>

        <div>
            <form class="textbox">
                <input type="text" placeholder="Full Name"><br>
                <input type="text" placeholder="Harvard ID Number"><br>
                <input type="text" placeholder="Harvard Email Address"><br>
                <input type="text" placeholder="Password"><br>
                <input type="text" placeholder="House/Dorm"><br>
                <input type="text" placeholder="Graduation Year"><br>
                <input type="text" placeholder="Concentration"><br>
            </form>
        </div>

        <div>
            <input type="checkbox" id="terms" name="terms">
            <label for="terms"> I have read and agreed to the <a href="terms-of-service"><u>Terms and Conditions</u></a></label><br>
            <br>
            <button class = "button" id="signUp">Sign Up!</button>
        </div>

    </body>
</html>