<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <title> Contact </title>
    <link rel="stylesheet" href="static/group3.css">
</head>

<body>
    <div id="block">
        <h2>
            <div align="center">
                Success!
            </div>
        </h2>
        <h3>
            <div align="center">
                You've selected a group!
            </div>
        </h3>


        
        
        <div align="center">
            <button>
                Contact Group Members
            </button>
        </div>
    </div>
</body>

</html>