{% extends "layout.html" %}

{% block main %}
  <h1 class="header">Teardrop Leaves</h1>

  <img src="static/img/teardrop.jpg" class="w-50 center">

  <div class="center-text">
    The largest group of leaves in Harvard Yard are the teardrop shaped leaves, this category is so 
    large that we decided to split it into 2 separate categories of teardrops! The first 8 trees in 
    this category have ridged teardrop leaves, then the 5 after that have long teardrop shaped leaves! 
  </div>
    
  <br>
  <br>

  <!-- Eastern White Pine image and accordion with info-->
  <div style="margin-bottom:50%">
    <!-- Eastern White Pine Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/american-elm.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="1">American Elm (Ulmus Americana)</a></h3>
    </div>
    <!-- Eastern White Pine Accordion with all info-->
    <div class="accordion right-text w-50" id="EWPAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse1" aria-expanded="true" aria-controls="EWPCollapse1">
            Leaves
          </button>
        </h2>
        <div id="EWPCollapse1" class="accordion-collapse collapse show" aria-labelledby="EWPHeading1" data-bs-parent="#EWPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-elm-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The American Elm is the perfect example of a ridged teardrop leaf. </strong>
              The leaves of the American Elm are a medium sized leaf, growing between 4 to 6 inches long. 
              The perimeter of the leaf is entirely ridged. Each life is a waxy dark green on one side 
              and then a much lighter shade of green on the flip side, making a start contrast between the two. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse2" aria-expanded="false" aria-controls="EWPCollapse2">
            Bark
          </button>
        </h2>
        <div id="EWPCollapse2" class="accordion-collapse collapse" aria-labelledby="EWPHeading2" data-bs-parent="#EWPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-elm-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The American Elm bark is also a classic example of scaly bark. </strong>
              Depending on what soil conditions the tree is grown in, the color of the bark can change. In 
              healthier soil, the bark is a darker gray, and in more unhealthy soil the bark is a light gray shade. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse3" aria-expanded="false" aria-controls="EWPCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="EWPCollapse3" class="accordion-collapse collapse" aria-labelledby="EWPHeading3" data-bs-parent="#EWPAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The American Elm tree has never been able to recover from a deadly disease.</strong> 
              Not many people think about trees when they think about viral diseases, but trees can also 
              get sick and suffer pandemics. One example is Dutch Elm Disease, which is very efficient at 
              killing off Elm Trees. Before the spread of the disease, American Elms could live up to 200 
              years old, but now they rarely live past 30!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Swiss Stone Pine Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/english-elm.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="2">English Elm (Ulmus Minor)</a></h3>
    </div>
    <!-- Swiss Stone Pine Accordion with all info-->
    <div class="accordion right-text w-50" id="SSPAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="SSPHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SSPCollapse1" aria-expanded="true" aria-controls="SSPCollapse1">
            Leaves
          </button>
        </h2>
        <div id="SSPCollapse1" class="accordion-collapse collapse show" aria-labelledby="SSPHeading1" data-bs-parent="#SSPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/english-elm-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The leaves of English Elms look very similar to those of American Elms, but with one key difference.</strong>
              When put side by side, these two leaves share many of the same characteristics; they both 
              have ridges around their perimeter and share the same characteristic teardrop shape. The differences 
              are that the English Elm has a thinner teardrop shape than the American Elm and also the English Elm 
              leaf is larger in size than that of the American Elm. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SSPHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SSPCollapse2" aria-expanded="false" aria-controls="SSPCollapse2">
            Bark
          </button>
        </h2>
        <div id="SSPCollapse2" class="accordion-collapse collapse" aria-labelledby="SSPHeading2" data-bs-parent="#SSPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/english-elm-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the English Elm is very unique to the touch.</strong>
              Although the bark of the English Elm looks to be similar to many other species of 
              trees that we have seen in the yard, there is one thing that makes the English Elm stand out 
              and it is entirely tactile. If you were to approach the bark of an English Elm and touch the bark, 
              what you would feel is a cork-like wood, which is extremely interesting as the bark of the tree! 
              The wood still retains it's scaly look dispite being soft to the touch!
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SSPHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SSPCollapse3" aria-expanded="false" aria-controls="SSPCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="SSPCollapse3" class="accordion-collapse collapse" aria-labelledby="SSPHeading3" data-bs-parent="#SSPAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>The English Elm is extremely disease resistant and can grow to immense heights! </strong> 
              In the fun fact for the American Elm, you can learn that the American Elm has suffered very greatly 
              from a disease known as the Dutch Elm Disease, which is extremely efficient at killing American Elms 
              and shortening their lifespans signficantly. Amazingly, the English Elm is very good at fighting off 
              Dutch Elm Disease, which means that it has continued to grow and thrive throughout history as other 
              species of Elms have died off. The canopy of an English Elm can grow as wide as 50 feet, which made these 
              trees extremely popular for shade trees in old fields. 
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Swamp White Oak-->
  <div style="margin-bottom:50%">
    <!-- Swamp White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/beech-tree.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="3">American Beech (Fagus Grandifolia)</a></h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="APAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="APHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#APCollapse1" aria-expanded="true" aria-controls="APCollapse1">
            Leaves
          </button>
        </h2>
        <div id="APCollapse1" class="accordion-collapse collapse show" aria-labelledby="APHeading1" data-bs-parent="#APAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-beech-leaf.jpg" class="accordion-image">
            <div id="block">
            <strong>The American Beech leaf is an example of a ridged teardrop that is not necessarily spiky.</strong>
              The two previous examples of ridged teardrop trees that we have seen (American Elm and English Elm), 
              have "teeth" along their perimeter which give the leaf a spiky look. The American Beech on the other hand, 
              envokes a ridged look by having distinct folds upward along the perimeter of the leaf. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="APHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#APCollapse2" aria-expanded="false" aria-controls="APCollapse2">
            Bark
          </button>
        </h2>
        <div id="APCollapse2" class="accordion-collapse collapse" aria-labelledby="APHeading2" data-bs-parent="#APAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-beech-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>American Beech Trees are known for their smooth bark. </strong>
              The bark of the American Beech is very thin and smooth throughout its lifetime. The 
              softness of the Beech Tree bark means that it is a prime tree for young couples to write 
              messages on, but also makes it extremely susceptible to diseases such as Beech Bark Disease, 
              which kills millions of American Beeches every year.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="APHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#APCollapse3" aria-expanded="false" aria-controls="APCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="APCollapse3" class="accordion-collapse collapse" aria-labelledby="APHeading3" data-bs-parent="#APAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Beech Trees are a popualar source of food for many animals.</strong> 
              The American Beech tree grows nuts which are known as beechnuts. These beechnuts are 
              a very popular source of food among native wildlife such as squirrels, racoons, and deer. Also, 
              even though the bark of the American Beech is weak and susceptible to disease, the core of the tree 
              is remarkably strong, making it unfavorable for lumberjacks because the core of the tree is too 
              dense for most saws to cut through!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Scarlet Oak-->
  <div style="margin-bottom:50%">
    <!-- Scarlet Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/hackberry.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="4">Hackberry (Celtis Occidentalis)</a></h3>
    </div>
    <!-- Scarlet Accordion with all info-->
    <div class="accordion right-text w-50" id="HackAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="HackHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#HackCollapse1" aria-expanded="true" aria-controls="HackCollapse1">
            Leaves
          </button>
        </h2>
        <div id="HackCollapse1" class="accordion-collapse collapse show" aria-labelledby="HackHeading1" data-bs-parent="#HackAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/hackberry-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The leaves of the Hackberry have very small teeth along the perimeter. </strong>
              These leaves are relatively small, only growing between 1 to 2 inches long, and they have really small 
              teeth along the edges that are hard to notice from a distance. Another fact about these leaves is that 
              all Hackberry leaves are asymmetric, which can be seen in the image if you closely at the base of all of the leaves. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="HackHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#HackCollapse2" aria-expanded="false" aria-controls="HackCollapse2">
            Bark
          </button>
        </h2>
        <div id="HackCollapse2" class="accordion-collapse collapse" aria-labelledby="HackHeading2" data-bs-parent="#HackAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/hackberry-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the Hackberry Tree is a smooth wood but it grows many warts on it.</strong>
              When Hackberry Trees are young, their bark is smooth, even as smooth as Beech Trees. But, as the tree 
              ages, this smoothness goes away as warts begin to develop on the bark. Unlike most scaly barked trees which start 
              as smooth then develop fissures, the Hackberry is the opposite where the scaly features come from the inside 
              of the tree going out. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="HackHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#HackCollapse3" aria-expanded="false" aria-controls="HackCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="HackCollapse3" class="accordion-collapse collapse" aria-labelledby="HackHeading3" data-bs-parent="#HackAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Although the English Yew is poisonous, it has multiple medicinal uses. </strong> 
              The English Yew is known for it's beautiful red berries, but these berries are extremely 
              poisonous for humans. Despite the danger that these berries pose, people still use yew trees 
              to make medicines that treat a large array of illnesses. The tips of yew branches as well as their 
              buds are used to treat illnesses including tapeworms, diphtheria, and Urinary Tract Infections.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Pin Oak-->
  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/cedar-lebanon.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="5">Cedar of Lebanon (Cedrus Libani)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="CLAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="CLHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#CLCollapse1" aria-expanded="true" aria-controls="CLCollapse1">
            Leaves
          </button>
        </h2>
        <div id="CLCollapse1" class="accordion-collapse collapse show" aria-labelledby="CLHeading1" data-bs-parent="#CLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/cedar-lebanon-needles.jpg" class="accordion-image">
            <div id="block">
              <strong>Cedar of Lebanon needles are bright green and quite fragrant. </strong>
              Cedar of Lebanon has small needles, growing up to 1 inch long. An interesting fact 
              about these needles is the fact that they are not tubular, instead they actually have four 
              sides, creating a very thin square pyramid. The needles grow out of their buds in a circle around 
              the branch in groups of between 20 to 40. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="CLHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CLCollapse2" aria-expanded="false" aria-controls="CLCollapse2">
            Bark
          </button>
        </h2>
        <div id="CLCollapse2" class="accordion-collapse collapse" aria-labelledby="CLHeading2" data-bs-parent="#CLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/cedar-lebanon-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>Cedar of Lebanon bark is dark and furrowed. </strong>
              The bark on Cedar of Lebanon trees is a dark grey to black color. As the tree ages, 
              the bark develops deep furrows. This contributes to a scaly bark texture for the Cedar of Lebanon. 
              The scaly bark chip off in small flakes over time, but the wood underneath the first layer is also 
              a dark grey color.  
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="CLHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CLCollapse3" aria-expanded="false" aria-controls="CLCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="CLCollapse3" class="accordion-collapse collapse" aria-labelledby="CLHeading3" data-bs-parent="#CLAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Cedar of Lebanon is a very religiously significant tree in many cultures. </strong> 
              Cedar of Lebanon is mentioned in many middle eastern religions, including Christianity and 
              Islam. In Christianity, Cedar of Lebanon is used as a symbol of Jesus' mother. Because of this 
              tree's religious significance, it is also known as Cedar of God in the middle east. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/dawn-redwood.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="6">Dawn Redwood (Metasequoia Glyptostroboides)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="DRAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="DRHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#DRCollapse1" aria-expanded="true" aria-controls="DRCollapse1">
            Leaves
          </button>
        </h2>
        <div id="DRCollapse1" class="accordion-collapse collapse show" aria-labelledby="DRHeading1" data-bs-parent="#DRAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/dawn-redwood-needles.jpg" class="accordion-image">
            <div id="block">
              <strong>The Dawn Redwood has needles that are arranged in a leaf-like pattern. </strong>
              The needles of the Dawn Redwood are small individually, growing to only about 1 inch in length. 
              The way that the needles grow is in a perfectly symmetrical fashion, with equal needles growing on 
              either side of the branch that holds them. These needles then create a leaf shape which creates an illusion
              where if you look at a dawn redwood from a distance, you can't tell that it has needles. These needles aren't like any 
              ordinary needles also! Unlike most conifers, the Dawn Redwood needles actually change color to a beautiful red 
              and drop in the fall, making it one of only a handful of deciduous conifers! 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="DRHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DRCollapse2" aria-expanded="false" aria-controls="DRCollapse2">
            Bark
          </button>
        </h2>
        <div id="DRCollapse2" class="accordion-collapse collapse" aria-labelledby="DRHeading2" data-bs-parent="#DRAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/dawn-redwood-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> The bark of the Dawn Redwood is red and flaky. </strong>
              As the name suggests, the bark of the dawn Redwood is red! But, in addition to being red, the 
              bark of this tree is also flaky. When the bark flakes off, the wood underneath it is also a red 
              color and is extremely smooth. This then creates a cycle of flaking bark off and regrowing that bark back.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="DRHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DRCollapse3" aria-expanded="false" aria-controls="DRCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="DRCollapse3" class="accordion-collapse collapse" aria-labelledby="DRHeading3" data-bs-parent="#DRAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Dawn Redwood was thought to be extinct for a long time until it was rediscovered!</strong> 
              The Dawn Redwood was a tree that scientists had found in the fossil record in China that was thought 
              to be extinct for close to 5 million years. That was until a Chinese forester found one in a forest 
              in the Sichuan Province of China. Another fun fact: The forester who found the thought-to-be-endangered Dawn Redwood 
              had worked at Harvard's very own Arnold Arboretum, and do you know the very first place in the western world that Dawn Redwood seeds were sent?
              You guessed it, it was Harvard! This history is so special that Harvard's Arnold Arboretum actually uses the 
              Dawn Redwood as it's symbol. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/western-larch.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="7">Western Larch (Larix Occidentalis)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="WLAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="WLHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#WLCollapse1" aria-expanded="true" aria-controls="WLCollapse1">
            Leaves
          </button>
        </h2>
        <div id="WLCollapse1" class="accordion-collapse collapse show" aria-labelledby="WLHeading1" data-bs-parent="#WLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/western-larch-needles.jpg" class="accordion-image">
            <div id="block">
              <strong>The Western Larch has distinct needles that become even more distinct in the fall! </strong>
              The needles of a Western Larch grow up to 2 inches long and grow in clumps of between 15 to 30. 
              In each clump, the needles form a cone shape facing away from the branch. In the fall, the needles of the 
              Western Larch turn a bright yellow color, as seen in the image beneath the name. The Western Larch, like the 
              Dawn Redwood, is one of only a handful of trees that are deciduous conifers where the needles change color and fall in 
              autumn. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WLHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WLCollapse2" aria-expanded="false" aria-controls="WLCollapse2">
            Bark
          </button>
        </h2>
        <div id="WLCollapse2" class="accordion-collapse collapse" aria-labelledby="WLHeading2" data-bs-parent="#WLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/western-larch-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> The bark of the Western Larch is scaly and flaky. </strong>
              The bark of the Western Larch is deeply fissured and flaky as the tree gets old. 
              When the bark flakes off, it reveals the deep orange wood underneath. The bark of the tree 
              is also very thick, which makes the tree very resistant to fire. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WLHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WLCollapse3" aria-expanded="false" aria-controls="WLCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="WLCollapse3" class="accordion-collapse collapse" aria-labelledby="WLHeading3" data-bs-parent="#WLAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Western Larch serves as an important host for all kinds of wildlife. </strong> 
              The seeds of the Western Larch are a prized food source for many animals such as woodpeckers and other 
              birds. Western Larches when they are also fully grown have been found to be nesting places for Bald Eagles 
              and other large predatory birds like hawks and eagles. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Red Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/red-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id = "8">Red Oak (Quercus Rubra)</a></h3>
    </div>
    <!-- Red Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="ROAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="ROHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse1" aria-expanded="true" aria-controls="ROCollapse1">
            Leaves
          </button>
        </h2>
        <div id="ROCollapse1" class="accordion-collapse collapse show" aria-labelledby="ROHeading1" data-bs-parent="#ROAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/red-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong> The Leaf of the Red Oak has pointed lobes.</strong>
              The lobes of the leaf refers to the different compartments of the leaf that appear to be protruding out.
              In the Red Oak, these lobes are pointed. Normally, there are between 7 to 11 lobes on each leaf of a Red Oak,
              and these leaves can vary in size, with large leaves growing up to 9 inches long!
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ROHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse2" aria-expanded="false" aria-controls="ROCollapse2">
            Bark
          </button>
        </h2>
        <div id="ROCollapse2" class="accordion-collapse collapse" aria-labelledby="ROHeading2" data-bs-parent="#ROAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/red-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the Red Oak is quite unique.</strong>
              Red Oak bark is usually (unsurprisingly) red in color but has lines of silver that run through the bark.
              As the tree ages, fisures form which appear as "cracks" in the tree. These cracks contribute to the scaly
              appearance of the Red Oak. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ROHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse3" aria-expanded="false" aria-controls="ROCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="ROCollapse3" class="accordion-collapse collapse" aria-labelledby="ROHeading3" data-bs-parent="#ROAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Red Oak trees have multiple ways of reproducing.</strong> 
              A Red Oak tree is actually able to reproduce in two different ways: through seeds and through it's roots.
              Reproduction through seeds is the most common form of reproduction among plants, and little has to be explained about it.
              But, how Red Oaks can also reproduce is by roots which is essentially when a new shoot of the tree starts growing 
              up from the roots. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/white-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"> <a id = "9">White Oak (Quercus Alba)</a></h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="WOAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse1" aria-expanded="true" aria-controls="WOCollapse1">
            Leaves
          </button>
        </h2>
        <div id="WOCollapse1" class="accordion-collapse collapse show" aria-labelledby="WOHeading1" data-bs-parent="#WOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/white-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Leaf of the White Oak has curved lobes.</strong>
              Although many people confuse Red Oaks with White Oaks, the key difference comes with their 
              leaf shapes! The Red Oak has leaves that are pointed at their lobes, while the white oak has
              no points and is entirely curvey. Each leaf usually contains 7 to 9 lobes, and each leaf can grow
              to be about 5 inches long. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse2" aria-expanded="false" aria-controls="WOCollapse2">
            Bark
          </button>
        </h2>
        <div id="WOCollapse2" class="accordion-collapse collapse" aria-labelledby="WOHeading2" data-bs-parent="#WOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/white-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of a White Oak is very intriguing.</strong>
              White Oak bark, unlike Red Oaks which just has the appearance of it, is actually broken into scales.
              This is due to the fact that as the tree ages, it grows furrows, which then break into scales. Oftentimes, 
              when you look closey at a White Oak, you can find patches of bark that are entirely smooth, and that is where
              recent scales have fallen off of the bark to make way for the new wood underneath.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse3" aria-expanded="false" aria-controls="WOCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="WOCollapse3" class="accordion-collapse collapse" aria-labelledby="WOHeading3" data-bs-parent="#WOAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>White Oak Bark actually serves many purposes.</strong> 
              For centuries, people have been using the bark of White Oaks for its medicinal qualities. White Oak bark
              can be made into a tea that is used to treat various illnesses such as arthritis, diarrhea, and fevers. 
              Other cultures have used White Oak bark in a compress and rubbed it onto areas of swelling in an attempt to
              stop inflammation. Unlike the Red Oak which gets its name from its bark, the White Oak gets
              its name because during the summer and spring seasons, the underside of the leaves appears to be a white-ish green color.
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Swamp White Oak-->
  <div style="margin-bottom:50%">
    <!-- Swamp White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/swamp-white-oak.png" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="10">Swamp White Oak (Quercus Bicolor)</a></h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="SWOAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse1" aria-expanded="true" aria-controls="SWOCollapse1">
            Leaves
          </button>
        </h2>
        <div id="SWOCollapse1" class="accordion-collapse collapse show" aria-labelledby="SWOHeading1" data-bs-parent="#SWOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/swamp-white-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              
            <strong>Similar to the White Oak, the Leaf of the Swamp White Oak has curved lobes.</strong>
              The Swamp White Oak, as it's name would suggest, has a very similar leaf shape to the White Oak, with 
              both the White and Swamp White Oaks having rounded lobes. Swamp White Oak leaves have more lobes than do 
              White Oak containing between 9 and 11 lobes usually. Swamp White Oak tree leaves grow to be between 5 and 7
              inches long. 
            
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse2" aria-expanded="false" aria-controls="SWOCollapse2">
            Bark
          </button>
        </h2>
        <div id="SWOCollapse2" class="accordion-collapse collapse" aria-labelledby="SWOHeading2" data-bs-parent="#SWOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/swamp-white-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the Swamp White Oak is similar to that of the White Oak.</strong>
              The bark of the Swamp White Oak has a similar scaly appearance as that of the White Oak. 
              When the tree is young, the bark is exceptionally flimsy and often times will look as if it is 
              peeling off the tree. As the tree ages, the bark grows deeper furrows and instead gains a scaly
              effect. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse3" aria-expanded="false" aria-controls="SWOCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="SWOCollapse3" class="accordion-collapse collapse" aria-labelledby="SWOHeading3" data-bs-parent="#SWOAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Swamp White Oak was named for a cool feature of it's leaves.</strong> 
              The scientific name of the Swamp White Oak is quercus bicolor, with bicolor meaning "two colors".
              The two colors that the name refers to is the dark green color of the top of the leaf and the bright
              white color of the bottoms of the leaves. The common name for the tree, Swamp White Oak, was named after
              the tree's preference for swampy and humid environments. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Scarlet Oak-->
  <div style="margin-bottom:50%">
    <!-- Scarlet Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/scarlet-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="11">Scarlet Oak (Quercus Coccinea)</a></h3>
    </div>
    <!-- Scarlet Accordion with all info-->
    <div class="accordion right-text w-50" id="ScarAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse1" aria-expanded="true" aria-controls="ScarCollapse1">
            Leaves
          </button>
        </h2>
        <div id="ScarCollapse1" class="accordion-collapse collapse show" aria-labelledby="ScarHeading1" data-bs-parent="#ScarAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/scarlet-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Scarlet Oak has similar to the Red Oak, with some key differences. </strong>
              Unlike the previous two trees, the lobes on the Scarlet Oak are pointed. The Scarlet Oak leaves 
              mostly all have 7 lobes, with very few containing 9. These leaves can grow between 4 and 7 inches.
              To tell Scarlet Oak and Red Oak leaves apart, you can look at the spaces between the lobes as Scarlet
              Oaks have a much more drastic indent between lobes as opposed to the Red Oak. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse2" aria-expanded="false" aria-controls="ScarCollapse2">
            Bark
          </button>
        </h2>
        <div id="ScarCollapse2" class="accordion-collapse collapse" aria-labelledby="ScarHeading2" data-bs-parent="#ScarAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/scarlet-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>Similar to the rest of the Oak family, the Scarlet Oak has scaly bark. </strong>
              Similar to the rest of the oak family, the Scarlet Oak develops furrows as it ages. But, unlike other 
              species in the family, these furrows are not very deep and instead remain rather close to the surface. 
              The inner bark between the furrows is a pink color when the tree is young, and as the tree ages this 
              inner bark turns orange. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse3" aria-expanded="false" aria-controls="ScarCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="ScarCollapse3" class="accordion-collapse collapse" aria-labelledby="ScarHeading3" data-bs-parent="#ScarAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>The Scarlet Oak is a very resilient tree. </strong> 
              The Scarlet Oak has adapted to grow in dry environments. The tree can grow along ridges and slopes with
              an elaborate root system. Because of this extensive root system, it means several things for the tree:
              For one, the tree is much harder to uproot because of it's ability to grow along ridges. For another thing,
              the Scarlet Oak is able to survive droughts much better than other trees because its elaborate trunk allows
              for optimal water storage.
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Pin Oak-->
  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/pin-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="12">Pin Oak (Quercus Palustris)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="PinAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse1" aria-expanded="true" aria-controls="PinCollapse1">
            Leaves
          </button>
        </h2>
        <div id="PinCollapse1" class="accordion-collapse collapse show" aria-labelledby="PinHeading1" data-bs-parent="#PinAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/pin-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Pin Oak has the most simplified lobed leaves of the oaks in Harvard Yard. </strong>
              The leaves of the Pin Oak are very similar to those of the Scarlet Oak, only they are 
              simpler. Pin Oak leaves mostly have 5 lobes, all of which are pointed. Also similar to 
              the Scarlet Oak, the gaps between lobes in the Pin Oak are very drastic, meaning that the biggest 
              distinction comes with the amount of lobes on the leaf. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse2" aria-expanded="false" aria-controls="PinCollapse2">
            Bark
          </button>
        </h2>
        <div id="PinCollapse2" class="accordion-collapse collapse" aria-labelledby="PinHeading2" data-bs-parent="#PinAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/pin-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> Unlike most of the oaks, the Pin Oak has soft bark. </strong>
              When the Pin Oak is young, the bark is extremely soft and smooth. As the tree grows, the 
              bark begins to grow furrows, but unlike oaks like the Red Oak or White Oak, the Pin Oak
              never gets deep furrows, only growing deep enough to make small lines in the bark, but the 
              bark itself stays rather smooth.  
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse3" aria-expanded="false" aria-controls="PinCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="PinCollapse3" class="accordion-collapse collapse" aria-labelledby="PinHeading3" data-bs-parent="#PinAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Pin Oak is a tree of many names. </strong> 
              The name Pin Oak derives from the fact that when Pin Oak branches are young, they are extremely
              sharp and durable, which is the reverse of most trees, which start their branches off as weak, 
              soft wood. But, while this is the common name, the Pin Oak is also known as the Swamp Oak (Not to be
              confused with White Swamp Oak), the Water Oak, or the Spanish Oak for its ability to grow in wet and swampy
              environments. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/black-oak.jpeg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="13">Black Oak (Quercus Velutina)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="BAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse1" aria-expanded="true" aria-controls="BCollapse1">
            Leaves
          </button>
        </h2>
        <div id="BCollapse1" class="accordion-collapse collapse show" aria-labelledby="BHeading1" data-bs-parent="#BAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/black-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Black Oak leaf is similar to that of other oaks, but with one special characteristic. </strong>
              Upon first glance, the leaves of the Black Oak look strikingly similar to those of the Scarlet Oak
              or even the Red Oak. Black Oak leaves have 7 to 9 lobes, and the space between the lobes can be either
              shallow like the Red Oak or deep like the Scarlet Oak, so that is not useful to tell them apart. What 
              you can use to tell these leaves apart is the fact that at the tip of each lobe on the Black Oak, there is 
              a sharp bristle which is often yellowish, which no other oaks have.
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse2" aria-expanded="false" aria-controls="BCollapse2">
            Bark
          </button>
        </h2>
        <div id="BCollapse2" class="accordion-collapse collapse" aria-labelledby="BHeading2" data-bs-parent="#BAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/black-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> The bark of the Black Oak is where it gets its name. </strong>
              Unlike the White Oak and Swamp White Oak, which get their names from their leaves, the Black 
              Oak is named for it's dark grey to black bark. Similar to a lot of the oak family, the bark of 
              the Black Oak is furrowed and has a scaly appearance. The inner bark between the furrows also has 
              a dark coloration, being a deep orange color.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse3" aria-expanded="false" aria-controls="BCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="BCollapse3" class="accordion-collapse collapse" aria-labelledby="BHeading3" data-bs-parent="#BAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The scientific names derives from it's bud's fuzzy nature. </strong> 
              When you think about Black Oaks, I bet you don't think of them as being fuzzy, but actually
              their scientific name, Quercus Velutina, is derived from the Latin word for "fleece"! This is 
              because the buds of the tree, which grow into acorns, are exceptionally fuzzy when they begin their 
              growth process in the spring! 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}