{% extends "layout.html" %}

{% block main %}
  <h1 class="header">Teardrop Leaves</h1>

  <img src="static/img/teardrop.jpg" class="w-50 center">

  <div class="center-text">
    The largest group of leaves in Harvard Yard are the teardrop shaped leaves, this category is so 
    large that we decided to split it into 2 separate categories of teardrops! The first 8 trees in 
    this category have ridged teardrop leaves, then the 5 after that have long teardrop shaped leaves! 
  </div>
    
  <br>
  <br>

  <!-- Eastern White Pine image and accordion with info-->
  <div style="margin-bottom:50%">
    <!-- Eastern White Pine Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/american-elm.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="1">American Elm (Ulmus Americana)</a></h3>
    </div>
    <!-- Eastern White Pine Accordion with all info-->
    <div class="accordion right-text w-50" id="EWPAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse1" aria-expanded="true" aria-controls="EWPCollapse1">
            Leaves
          </button>
        </h2>
        <div id="EWPCollapse1" class="accordion-collapse collapse show" aria-labelledby="EWPHeading1" data-bs-parent="#EWPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-elm-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The American Elm is the perfect example of a ridged teardrop leaf. </strong>
              The leaves of the American Elm are a medium sized leaf, growing between 4 to 6 inches long. 
              The perimeter of the leaf is entirely ridged. Each life is a waxy dark green on one side 
              and then a much lighter shade of green on the flip side, making a start contrast between the two. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse2" aria-expanded="false" aria-controls="EWPCollapse2">
            Bark
          </button>
        </h2>
        <div id="EWPCollapse2" class="accordion-collapse collapse" aria-labelledby="EWPHeading2" data-bs-parent="#EWPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-elm-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The American Elm bark is also a classic example of scaly bark. </strong>
              Depending on what soil conditions the tree is grown in, the color of the bark can change. In 
              healthier soil, the bark is a darker gray, and in more unhealthy soil the bark is a light gray shade. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="EWPHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EWPCollapse3" aria-expanded="false" aria-controls="EWPCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="EWPCollapse3" class="accordion-collapse collapse" aria-labelledby="EWPHeading3" data-bs-parent="#EWPAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The American Elm tree has never been able to recover from a deadly disease.</strong> 
              Not many people think about trees when they think about viral diseases, but trees can also 
              get sick and suffer pandemics. One example is Dutch Elm Disease, which is very efficient at 
              killing off Elm Trees. Before the spread of the disease, American Elms could live up to 200 
              years old, but now they rarely live past 30!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Swiss Stone Pine Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/english-elm.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="2">English Elm (Ulmus Minor)</a></h3>
    </div>
    <!-- Swiss Stone Pine Accordion with all info-->
    <div class="accordion right-text w-50" id="SSPAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="SSPHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SSPCollapse1" aria-expanded="true" aria-controls="SSPCollapse1">
            Leaves
          </button>
        </h2>
        <div id="SSPCollapse1" class="accordion-collapse collapse show" aria-labelledby="SSPHeading1" data-bs-parent="#SSPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/english-elm-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The leaves of English Elms look very similar to those of American Elms, but with one key difference.</strong>
              When put side by side, these two leaves share many of the same characteristics; they both 
              have ridges around their perimeter and share the same characteristic teardrop shape. The differences 
              are that the English Elm has a thinner teardrop shape than the American Elm and also the English Elm 
              leaf is larger in size than that of the American Elm. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SSPHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SSPCollapse2" aria-expanded="false" aria-controls="SSPCollapse2">
            Bark
          </button>
        </h2>
        <div id="SSPCollapse2" class="accordion-collapse collapse" aria-labelledby="SSPHeading2" data-bs-parent="#SSPAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/english-elm-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the English Elm is very unique to the touch.</strong>
              Although the bark of the English Elm looks to be similar to many other species of 
              trees that we have seen in the yard, there is one thing that makes the English Elm stand out 
              and it is entirely tactile. If you were to approach the bark of an English Elm and touch the bark, 
              what you would feel is a cork-like wood, which is extremely interesting as the bark of the tree! 
              The wood still retains it's scaly look dispite being soft to the touch!
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SSPHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SSPCollapse3" aria-expanded="false" aria-controls="SSPCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="SSPCollapse3" class="accordion-collapse collapse" aria-labelledby="SSPHeading3" data-bs-parent="#SSPAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>The English Elm is extremely disease resistant and can grow to immense heights! </strong> 
              In the fun fact for the American Elm, you can learn that the American Elm has suffered very greatly 
              from a disease known as the Dutch Elm Disease, which is extremely efficient at killing American Elms 
              and shortening their lifespans signficantly. Amazingly, the English Elm is very good at fighting off 
              Dutch Elm Disease, which means that it has continued to grow and thrive throughout history as other 
              species of Elms have died off. The canopy of an English Elm can grow as wide as 50 feet, which made these 
              trees extremely popular for shade trees in old fields. 
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Swamp White Oak-->
  <div style="margin-bottom:50%">
    <!-- Swamp White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/beech-tree.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="3">American Beech (Fagus Grandifolia)</a></h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="APAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="APHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#APCollapse1" aria-expanded="true" aria-controls="APCollapse1">
            Leaves
          </button>
        </h2>
        <div id="APCollapse1" class="accordion-collapse collapse show" aria-labelledby="APHeading1" data-bs-parent="#APAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-beech-leaf.jpg" class="accordion-image">
            <div id="block">
            <strong>The American Beech leaf is an example of a ridged teardrop that is not necessarily spiky.</strong>
              The two previous examples of ridged teardrop trees that we have seen (American Elm and English Elm), 
              have "teeth" along their perimeter which give the leaf a spiky look. The American Beech on the other hand, 
              envokes a ridged look by having distinct folds upward along the perimeter of the leaf. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="APHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#APCollapse2" aria-expanded="false" aria-controls="APCollapse2">
            Bark
          </button>
        </h2>
        <div id="APCollapse2" class="accordion-collapse collapse" aria-labelledby="APHeading2" data-bs-parent="#APAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/american-beech-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>American Beech Trees are known for their smooth bark. </strong>
              The bark of the American Beech is very thin and smooth throughout its lifetime. The 
              softness of the Beech Tree bark means that it is a prime tree for young couples to write 
              messages on, but also makes it extremely susceptible to diseases such as Beech Bark Disease, 
              which kills millions of American Beeches every year.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="APHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#APCollapse3" aria-expanded="false" aria-controls="APCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="APCollapse3" class="accordion-collapse collapse" aria-labelledby="APHeading3" data-bs-parent="#APAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Beech Trees are a popualar source of food for many animals.</strong> 
              The American Beech tree grows nuts which are known as beechnuts. These beechnuts are 
              a very popular source of food among native wildlife such as squirrels, racoons, and deer. Also, 
              even though the bark of the American Beech is weak and susceptible to disease, the core of the tree 
              is remarkably strong, making it unfavorable for lumberjacks because the core of the tree is too 
              dense for most saws to cut through!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Scarlet Oak-->
  <div style="margin-bottom:50%">
    <!-- Scarlet Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/hackberry.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="4">Hackberry (Celtis Occidentalis)</a></h3>
    </div>
    <!-- Scarlet Accordion with all info-->
    <div class="accordion right-text w-50" id="HackAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="HackHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#HackCollapse1" aria-expanded="true" aria-controls="HackCollapse1">
            Leaves
          </button>
        </h2>
        <div id="HackCollapse1" class="accordion-collapse collapse show" aria-labelledby="HackHeading1" data-bs-parent="#HackAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/hackberry-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The leaves of the Hackberry have very small teeth along the perimeter. </strong>
              These leaves are relatively small, only growing between 1 to 2 inches long, and they have really small 
              teeth along the edges that are hard to notice from a distance. Another fact about these leaves is that 
              all Hackberry leaves are asymmetric, which can be seen in the image if you closely at the base of all of the leaves. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="HackHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#HackCollapse2" aria-expanded="false" aria-controls="HackCollapse2">
            Bark
          </button>
        </h2>
        <div id="HackCollapse2" class="accordion-collapse collapse" aria-labelledby="HackHeading2" data-bs-parent="#HackAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/hackberry-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the Hackberry Tree is a smooth wood but it grows many warts on it.</strong>
              When Hackberry Trees are young, their bark is smooth, even as smooth as Beech Trees. But, as the tree 
              ages, this smoothness goes away as warts begin to develop on the bark. Unlike most scaly barked trees which start 
              as smooth then develop fissures, the Hackberry is the opposite where the scaly features come from the inside 
              of the tree going out. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="HackHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#HackCollapse3" aria-expanded="false" aria-controls="HackCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="HackCollapse3" class="accordion-collapse collapse" aria-labelledby="HackHeading3" data-bs-parent="#HackAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Hackberry Trees are well equipped to thrive in all kinds of environments!</strong> 
              Hackberries are native to deserts in the Southern United States, but can also be grown in the 
              wet climate of New England. This is due to the fact that this tree is extremely hardy. 
              Although they are native to arid regions, these trees also have extremely thick bark that is flood resistant, 
              which is something that many desert trees don't have. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Pin Oak-->
  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/birch.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="5">Silver Birch (Betula Pendula)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="CLAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="CLHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#CLCollapse1" aria-expanded="true" aria-controls="CLCollapse1">
            Leaves
          </button>
        </h2>
        <div id="CLCollapse1" class="accordion-collapse collapse show" aria-labelledby="CLHeading1" data-bs-parent="#CLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/birch-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong> The leaves of the Silver Birches have a triangular teardrop shape with double toothed perimeters. </strong>
              A "Double Toothed" leaf means a leaf that has larger teeth along the perimeter and then each tooth 
              has an additional tooth on it. The advantage of having more teeth for a tree does not come down to 
              predators, but rather is to allow for more evaporation out of the leaf because it allows for the 
              leaf to have more surface area. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="CLHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CLCollapse2" aria-expanded="false" aria-controls="CLCollapse2">
            Bark
          </button>
        </h2>
        <div id="CLCollapse2" class="accordion-collapse collapse" aria-labelledby="CLHeading2" data-bs-parent="#CLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/birch-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>Birch Bark is one of the most famous tree barks and depending on when you view it is either smooth or flaky. </strong>
              The cycle of the Silver Birch Tree is one of the most famous cycles observed by trees. 
              During the Birch Tree's infancy, the bark is extremely smooth, making a beautiful white canvas 
              of the tree. Then as the tree develops, the bark begins to become extremely flaky and thin layers of 
              the bark start to come off of the tree. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="CLHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CLCollapse3" aria-expanded="false" aria-controls="CLCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="CLCollapse3" class="accordion-collapse collapse" aria-labelledby="CLHeading3" data-bs-parent="#CLAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Birch Trees served as one of the earliest forms of paper. </strong> 
              Since the tree naturally undergoes a shedding cycle where it loses its extremely 
              thin white bark, it became an obvious choice for early humans to write things on. 
              The danger of this was then that humans who wanted to use Birch Bark as paper would rip 
              the thin bark off of the tree, which greatly damages the tree and can even kill it. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/hornbeam.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="6">Hornbeam (Carpinus Betulus)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="DRAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="DRHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#DRCollapse1" aria-expanded="true" aria-controls="DRCollapse1">
            Leaves
          </button>
        </h2>
        <div id="DRCollapse1" class="accordion-collapse collapse show" aria-labelledby="DRHeading1" data-bs-parent="#DRAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/hornbeam-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>Not only are Hornbeam leaves ridged, they also have hairs along their perimeters.</strong>
              As said in the Silver Birch leaf description, the jagged edges of the leaf are not for protection 
              of the plant, but rather have a biological reason. The different edges allow for more water to be 
              evaporated out of the leaf, which is important for trees that prefer warmer climates. But, while the 
              ridged edges are not for defense, the hairs on the leaf are! The hairs on the leaf are there so that 
              little bugs that land on the leaf get the hairs stuck in them like needles and large animals who eat the 
              leaves get annoying hairs stuck to the inside of their mouths. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="DRHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DRCollapse2" aria-expanded="false" aria-controls="DRCollapse2">
            Bark
          </button>
        </h2>
        <div id="DRCollapse2" class="accordion-collapse collapse" aria-labelledby="DRHeading2" data-bs-parent="#DRAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/hornbeam-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> The bark of the Hornbeam is a magnificent blue-gray color with a smooth texture.</strong>
              The bark of the Hornbeam is so smooth that it has been compared to human skin, specifically 
              human muscle. This is the reason why the Hornbeam has it's other name, Muscletree! Another common 
              name for the Hackberry is the Blue Beech because it is in the Beech family and has a blue tint to 
              the gray color!
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="DRHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DRCollapse3" aria-expanded="false" aria-controls="DRCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="DRCollapse3" class="accordion-collapse collapse" aria-labelledby="DRHeading3" data-bs-parent="#DRAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Dawn Redwood was thought to be extinct for a long time until it was rediscovered!</strong> 
              The Dawn Redwood was a tree that scientists had found in the fossil record in China that was thought 
              to be extinct for close to 5 million years. That was until a Chinese forester found one in a forest 
              in the Sichuan Province of China. Another fun fact: The forester who found the thought-to-be-endangered Dawn Redwood 
              had worked at Harvard's very own Arnold Arboretum, and do you know the very first place in the western world that Dawn Redwood seeds were sent?
              You guessed it, it was Harvard! This history is so special that Harvard's Arnold Arboretum actually uses the 
              Dawn Redwood as it's symbol. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/western-larch.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="7">Western Larch (Larix Occidentalis)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="WLAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="WLHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#WLCollapse1" aria-expanded="true" aria-controls="WLCollapse1">
            Leaves
          </button>
        </h2>
        <div id="WLCollapse1" class="accordion-collapse collapse show" aria-labelledby="WLHeading1" data-bs-parent="#WLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/western-larch-needles.jpg" class="accordion-image">
            <div id="block">
              <strong>The Western Larch has distinct needles that become even more distinct in the fall! </strong>
              The needles of a Western Larch grow up to 2 inches long and grow in clumps of between 15 to 30. 
              In each clump, the needles form a cone shape facing away from the branch. In the fall, the needles of the 
              Western Larch turn a bright yellow color, as seen in the image beneath the name. The Western Larch, like the 
              Dawn Redwood, is one of only a handful of trees that are deciduous conifers where the needles change color and fall in 
              autumn. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WLHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WLCollapse2" aria-expanded="false" aria-controls="WLCollapse2">
            Bark
          </button>
        </h2>
        <div id="WLCollapse2" class="accordion-collapse collapse" aria-labelledby="WLHeading2" data-bs-parent="#WLAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/western-larch-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> The bark of the Western Larch is scaly and flaky. </strong>
              The bark of the Western Larch is deeply fissured and flaky as the tree gets old. 
              When the bark flakes off, it reveals the deep orange wood underneath. The bark of the tree 
              is also very thick, which makes the tree very resistant to fire. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WLHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WLCollapse3" aria-expanded="false" aria-controls="WLCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="WLCollapse3" class="accordion-collapse collapse" aria-labelledby="WLHeading3" data-bs-parent="#WLAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Western Larch serves as an important host for all kinds of wildlife. </strong> 
              The seeds of the Western Larch are a prized food source for many animals such as woodpeckers and other 
              birds. Western Larches when they are also fully grown have been found to be nesting places for Bald Eagles 
              and other large predatory birds like hawks and eagles. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Red Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/red-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id = "8">Red Oak (Quercus Rubra)</a></h3>
    </div>
    <!-- Red Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="ROAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="ROHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse1" aria-expanded="true" aria-controls="ROCollapse1">
            Leaves
          </button>
        </h2>
        <div id="ROCollapse1" class="accordion-collapse collapse show" aria-labelledby="ROHeading1" data-bs-parent="#ROAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/red-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong> The Leaf of the Red Oak has pointed lobes.</strong>
              The lobes of the leaf refers to the different compartments of the leaf that appear to be protruding out.
              In the Red Oak, these lobes are pointed. Normally, there are between 7 to 11 lobes on each leaf of a Red Oak,
              and these leaves can vary in size, with large leaves growing up to 9 inches long!
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ROHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse2" aria-expanded="false" aria-controls="ROCollapse2">
            Bark
          </button>
        </h2>
        <div id="ROCollapse2" class="accordion-collapse collapse" aria-labelledby="ROHeading2" data-bs-parent="#ROAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/red-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of the Red Oak is quite unique.</strong>
              Red Oak bark is usually (unsurprisingly) red in color but has lines of silver that run through the bark.
              As the tree ages, fisures form which appear as "cracks" in the tree. These cracks contribute to the scaly
              appearance of the Red Oak. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ROHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ROCollapse3" aria-expanded="false" aria-controls="ROCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="ROCollapse3" class="accordion-collapse collapse" aria-labelledby="ROHeading3" data-bs-parent="#ROAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Red Oak trees have multiple ways of reproducing.</strong> 
              A Red Oak tree is actually able to reproduce in two different ways: through seeds and through it's roots.
              Reproduction through seeds is the most common form of reproduction among plants, and little has to be explained about it.
              But, how Red Oaks can also reproduce is by roots which is essentially when a new shoot of the tree starts growing 
              up from the roots. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/white-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"> <a id = "9">White Oak (Quercus Alba)</a></h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="WOAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse1" aria-expanded="true" aria-controls="WOCollapse1">
            Leaves
          </button>
        </h2>
        <div id="WOCollapse1" class="accordion-collapse collapse show" aria-labelledby="WOHeading1" data-bs-parent="#WOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/white-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Leaf of the White Oak has curved lobes.</strong>
              Although many people confuse Red Oaks with White Oaks, the key difference comes with their 
              leaf shapes! The Red Oak has leaves that are pointed at their lobes, while the white oak has
              no points and is entirely curvey. Each leaf usually contains 7 to 9 lobes, and each leaf can grow
              to be about 5 inches long. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse2" aria-expanded="false" aria-controls="WOCollapse2">
            Bark
          </button>
        </h2>
        <div id="WOCollapse2" class="accordion-collapse collapse" aria-labelledby="WOHeading2" data-bs-parent="#WOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/white-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The bark of a White Oak is very intriguing.</strong>
              White Oak bark, unlike Red Oaks which just has the appearance of it, is actually broken into scales.
              This is due to the fact that as the tree ages, it grows furrows, which then break into scales. Oftentimes, 
              when you look closey at a White Oak, you can find patches of bark that are entirely smooth, and that is where
              recent scales have fallen off of the bark to make way for the new wood underneath.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="WOHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WOCollapse3" aria-expanded="false" aria-controls="WOCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="WOCollapse3" class="accordion-collapse collapse" aria-labelledby="WOHeading3" data-bs-parent="#WOAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>White Oak Bark actually serves many purposes.</strong> 
              For centuries, people have been using the bark of White Oaks for its medicinal qualities. White Oak bark
              can be made into a tea that is used to treat various illnesses such as arthritis, diarrhea, and fevers. 
              Other cultures have used White Oak bark in a compress and rubbed it onto areas of swelling in an attempt to
              stop inflammation. Unlike the Red Oak which gets its name from its bark, the White Oak gets
              its name because during the summer and spring seasons, the underside of the leaves appears to be a white-ish green color.
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Swamp White Oak-->
  <div style="margin-bottom:50%">
    <!-- Swamp White Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/white-fringe-tree.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="10">White Fringe Tree (Chionanthus Virginicus)</a></h3>
    </div>
    <!-- White Oak Accordion with all info-->
    <div class="accordion right-text w-50" id="SWOAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse1" aria-expanded="true" aria-controls="SWOCollapse1">
            Leaves
          </button>
        </h2>
        <div id="SWOCollapse1" class="accordion-collapse collapse show" aria-labelledby="SWOHeading1" data-bs-parent="#SWOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/white-fringe-leaf.jpg" class="accordion-image">
            <div id="block">
              
            <strong>The White Fringe is one of the last trees to gain its leaves in the spring, but the tree makes up 
              for it with the leaves and flowers it does eventually produce.</strong>
              Leaves are usually a bright, even artificial green, and alternate with flowers along the branches.
              Though, they usually do play second fiddle to the bright white flowers that envelop the tree.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse2" aria-expanded="false" aria-controls="SWOCollapse2">
            Bark
          </button>
        </h2>
        <div id="SWOCollapse2" class="accordion-collapse collapse" aria-labelledby="SWOHeading2" data-bs-parent="#SWOAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/white-fringe-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong>The Bark of a White Fringe Tree also closely resembles an oak's!</strong>
              It is dark brown, furrowed, and covered in reddish-tinted scales. The tree spends a lot of time being a shrub though 
              and does not usually have a trunk expand past 6 inches in diameter. However, the fringe tree is very adaptable to 
              its environment, and will change the size and type of its bark with different climates and ecosystems.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="SWOHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SWOCollapse3" aria-expanded="false" aria-controls="SWOCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="SWOCollapse3" class="accordion-collapse collapse" aria-labelledby="SWOHeading3" data-bs-parent="#SWOAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>Talk about a beautiful tree... the White Fringe Tree basically wrote the book!</strong> 
              It seems like most of the tree is a type of small white flower, which the tree gets the name "Chionanthus" (Snowy Flower) from.
              If I could decorate the entire world with just one tree, there's a good chance it would be this one. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Scarlet Oak-->
  <div style="margin-bottom:50%">
    <!-- Scarlet Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/magnolia.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="11">Southern Magnolia (Magnolia Grandiflora)</a></h3>
    </div>
    <!-- Scarlet Accordion with all info-->
    <div class="accordion right-text w-50" id="ScarAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse1" aria-expanded="true" aria-controls="ScarCollapse1">
            Leaves
          </button>
        </h2>
        <div id="ScarCollapse1" class="accordion-collapse collapse show" aria-labelledby="ScarHeading1" data-bs-parent="#ScarAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/magnolia-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong> Southern Magnolia leaves are present year round.</strong>
              They are typically dark-green and glossy on the top, and rust-colored and matte on the bottom.
              The leaves themselves are on the larger side, on average being around 8 inches long. Like other glossy
              leaves, the shine comes from a waxy substance produced by the cuticle, and helps
              prevent water loss. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse2" aria-expanded="false" aria-controls="ScarCollapse2">
            Bark
          </button>
        </h2>
        <div id="ScarCollapse2" class="accordion-collapse collapse" aria-labelledby="ScarHeading2" data-bs-parent="#ScarAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/magnolia-bark.jpg" class="accordion-image" style="float:right; width: 23%;">
            <div id="block">
              <strong>Southern Magnolia bark is made distinct by the lenticels, or tiny openings of the stem for gas to enter, 
                that cover the entirety of the trunk. </strong>
              Southern Magnolia bark is usually a light gray color, pretty smooth (minus the lenticels), and very thin and tall.
              The bark is a diaphoretic, as well as a stimulant, so it has medical uses, like the treatment of malaria and 
              rheumatism.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="ScarHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ScarCollapse3" aria-expanded="false" aria-controls="ScarCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="ScarCollapse3" class="accordion-collapse collapse" aria-labelledby="ScarHeading3" data-bs-parent="#ScarAccordion">
          <div class="accordion-body">
            <div id="block">
            <strong>The Southern Magnolia is Mississippi State Tree! </strong> 
              And for good reason! It is absolutely gorgeous, adorned with little white 
              flowers that cascade down its branches.
              It has tangible uses too. Check the wood your chairs and tables are made out of,
              there's a good chance its a Southern Magnolia. 
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!--Pin Oak-->
  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/shingle-oak.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="12">Shingle Oak (Quercus Imbricaria)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="PinAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse1" aria-expanded="true" aria-controls="PinCollapse1">
            Leaves
          </button>
        </h2>
        <div id="PinCollapse1" class="accordion-collapse collapse show" aria-labelledby="PinHeading1" data-bs-parent="#PinAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/shingle-oak-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Shingle Oak is the only oak in Harvard Yard that does not have lobed leaves. </strong>
              For that reason, it is easily distinguishable from other oaks. 
              The leaves are teardrop shaped, smooth and shiny on the top, and around 4 to 6 inches long. Usually dark green,
              but in autumn, they change to a dark red, before eventually falling off of the branches. 
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse2" aria-expanded="false" aria-controls="PinCollapse2">
            Bark
          </button>
        </h2>
        <div id="PinCollapse2" class="accordion-collapse collapse" aria-labelledby="PinHeading2" data-bs-parent="#PinAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/shingle-oak-bark.jpg" class="accordion-image" style="float:right">
            <div id="block">
              <strong> The Shingle Oak bark has bark similar to other oaks. </strong>
              It is light brown, scaly, and tough, with the inside wood being reddish brown.
              When the Shingle Oak is young, the bark is extremely soft and smooth with a light
              green color, like a Pin Oak. But as the tree grows, the bark begins to grow very deep 
              brown furrows, which become prominent scales just like a Red or White Oak. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="PinHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PinCollapse3" aria-expanded="false" aria-controls="PinCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="PinCollapse3" class="accordion-collapse collapse" aria-labelledby="PinHeading3" data-bs-parent="#PinAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong>The Shingle Oak's name comes from its use in the olden days </strong> 
              People would often use the Shingle Oak's wood to make, you guessed it, shingles. 
              While shingles are not the most popular in modern architecture, the name still 
              stands and references the Shingle Oak's fascinating history.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 

  <div style="margin-bottom:50%">
    <!-- Pin Oak Image-->
    <div style="text-align:left">
      <img src="static/img/teardrop/black-gum.jpg" class="w-25 left-text">
      <h3 class="tree-name left-text w-25"><a id="13">Black Gum (Nyssa Sylvatica)</a></h3>
    </div>
    <!-- Pin Accordion with all info-->
    <div class="accordion right-text w-50" id="BAccordion" style="display:inline-block">
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse1" aria-expanded="true" aria-controls="BCollapse1">
            Leaves
          </button>
        </h2>
        <div id="BCollapse1" class="accordion-collapse collapse show" aria-labelledby="BHeading1" data-bs-parent="#BAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/black-gum-leaf.jpg" class="accordion-image">
            <div id="block">
              <strong>The Black Gum Leaf would make the tree a gorgeous option for landscaping your front yard! </strong>
              They are usually alternately arranged, around 3 inches long, with a beautful natural gloss and dark green hue. 
              However, in the fall, this green changes to an intense red with a multi-color array of hues of yellow, orange, and purple.
              One way to tell the difference between a Black Gum and a Sweet Gum tree is by their leaves, which are generally very different 
              in shape and size, even though they belong in the same genus.             
            </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse2" aria-expanded="false" aria-controls="BCollapse2">
            Bark
          </button>
        </h2>
        <div id="BCollapse2" class="accordion-collapse collapse" aria-labelledby="BHeading2" data-bs-parent="#BAccordion">
          <div class="accordion-body" style="text-align:center">
            <img src="static/img/teardrop/black-gum-bark.jpg" class="accordion-image" style="float:right; width: 24%">
            <div id="block">
              <strong> Black Gum bark is very distinct. </strong>
               It is  medium-gray, furrowed, with aggressively large ridges; with age, all of these aspects of the tree
                become more and more prominent. Often, Black Gum bark is compared to very darkly colored alligator scales, 
                but the inside wood of the tree is often much lighter, and resembles oak or maple. 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="BHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BCollapse3" aria-expanded="false" aria-controls="BCollapse3">
            Fun Facts
          </button>
        </h2>
        <div id="BCollapse3" class="accordion-collapse collapse" aria-labelledby="BHeading3" data-bs-parent="#BAccordion">
          <div class="accordion-body">
            <div id="block">
              <strong> The Black Gum Tree was a very useful tree during the colonial era. </strong> 
              An important aspect of the Black Gum is its strong, impermeable, and durable wood. Because of these facts,
              these trees were often cut down by colonists, with the wood being used for anything from water pipes, furniture,
              and even boats!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}