<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
        <link rel="stylesheet" type="text/css" href="../static/group1.css">
        <title>Terms of Service</title>
    </head>
    <body>
        <div>
            <span style="float: left;"><button>🏠</button></span>
            <span style="float: right;"><button>👤</button></span>
        </div>
        <br>
        <div>
            <h1>📃 Terms of Service</h1>
        </div>
        <br>
        <div>
            <p>By checking the box below, I affirm that I have read the Harvard University Academic Honesty Policy as well as my respective class policies and will not use the Problem Set Buddy Finder to engage in academic dishonesty in any way, shape, or form. Doing so will result in a permanent ban from Problem Set Buddy Finder and further disciplinary consequences from the Administrative Board. Tech for Social Good is not responsible for any instances of cheating by an individual or group of students who utilize the Problem Set Buddy Finder.</p>
        </div>
        <br>
        <div>
            <button>
                ☐
            </button>
        </div>
        <br>
        <div>
            <span style="float: left;"><button>❮</button></span>
            <span style="float: right;"><button>❯</button></span>
        </div>
    </body>
</html>