{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Terms of Service</title>
        <style>
            <link rel="stylesheet" href="webapp/static/group1.css">
        </style>
    </head>
    <body>
        <h1>Terms of Service</h1>
        <p>By checking this box, I affirm that I have read the Harvard University Academic Honesty Policy as well as my respective class policies and will not use this application to engage in academic dishonesty in any form. Doing so will result in a permanent ban from Problem Set Buddy Finder and further disciplinary consequences with the Administrative Board. Tech for Social Good is not responsible for any instances of cheating by an individual or group of students who utilize this application.</p>
    </body>
</html>