<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <title> User Profile </title>
    <link rel="stylesheet" href="static/group3.css">
</head>

<body>
    <div id="block">
        <h1>
            Andrew Palacci
        </h1>
        <ul>
            <li>Groups: </li>
            <li>Schedule:</li>
            <li>Preferred Group Size:</li>
            <li>Grade Level:</li>
            <li>Size:</li>
            <li>Working Style:</li>
        </ul>

            <h3 class="center">
                Members
            </h3>
            <center>
            <div class="row">
                <div class="center" class="column">
                    <img src="https://static.wixstatic.com/media/2daf1e_41010159ab9b48da9d8b9e3070e6820f~mv2.jpg/v1/fill/w_400,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/andrew_palacci.jpg"
                        alt="AndrewP" style="width:20%">
                </div>
            </div>
            </center>
</body>
<div align="center">
    <button>
        Block or Report
    </button>
</div>
</html>
    
    
    

    