<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            work_habits
        </title>
    </head>
    <body>
        <h1>
            Work Habits
        </h1>
        <h2>
            Choose when you start psets/readings.
        </h2>
        <h3>
            Select best option.
        </h3>
        <div>
            <button>
                Day Assigned
            </button>
        </div>
        <div>
            <button>
                Midpoint 
            </button>
        </div>
        <div>
            <button>
                Close to Due Date
            </button>
        </div>
        <div>
        </div>
    </body>
</html>