<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <title>
            work_habits
        </title>
    </head>
    <body class="centered">
        <h1 class="large">
            Work Habits
        </h1>
        <h2 class="medium">
            Choose when you start psets/readings.
        </h2>
        <h3 class="small">
            Select best option.
        </h3>
        <div>
            <button class="button">
                Day Assigned
            </button>
        </div>
        <div>
            <button class="button">
                Midpoint 
            </button>
        </div>
        <div>
            <button class="button">
                Close to Due Date
            </button>
        </div>
    </body>
</html>