<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/group2.css" rel="stylesheet">
        <title> Work Habits </title>
    </head>
    <body class="center">
        <h1> Work Habits </h1>
        <h2> Choose when you start psets/readings. </h2>
        <h3> Select best option. </h3>
        <div>
            <button class="button_preferences"> Day Assigned </button>
        </div>
        <div>
            <button class="button_preferences"> Midpoint </button>
        </div>
        <div>
            <button class="button_preferences"> Close to Due Date </button>
        </div>
    </body>
</html>