<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
        <title>Your Matches</title>
        <link rel="stylesheet" type="text/css" href="../static/group1.css">
    </head>
    <body>
        <div style="text-align: center;"">
            <span style="float: left;"><button>🏠</button></span>
            <span style="float: right;"><button>👤</button></span>
        </div>
        <br>
        <div>
            <h1>🔮 Your Matches</h1>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">#️⃣ ID: 9000</span>
            <span style="float: right;">🗓 Day: Wednesday</span>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">📚 Class: Vector Calculus and Linear Algebra I</span>
            <span style="float: right;">🕐 Time: 01:30–04:30am</span>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">👥 Size: 9000</span>
            <span style="float: right;">📍 Location: Lamont Library</span>
        </div>
        <br>
        <div style="text-align: center;">
            <button>
                View Members
            </button>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">#️⃣ ID: 8888</span>
            <span style="float: right;">🗓 Day: Sunday</span>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">📚 Class: Introduction to Computer Science</span>
            <span style="float: right;">🕐 Time: 09:00–11:30pm</span>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">👥 Size: 8888</span>
            <span style="float: right;">📍 Location: Cabot Library</span>
        </div>
        <br>
        <div style="text-align: center;">
            <button>
                View Members
            </button>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">#️⃣ ID: 7777</span>
            <span style="float: right;">🗓 Day: Friday</span>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">📚 Class: AI for Social Impact</span>
            <span style="float: right;">🕐 Time: 06:00–07:30pm</span>
        </div>
        <br>
        <div style="text-align: center;"">
            <span style="float: left;">👥 Size: 7777</span>
            <span style="float: right;">📍 Location: Ticknor Lounge</span>
        </div>
        <br>
        <div style="text-align: center;">
            <button>
                View Members
            </button>
        </div>
        <br>
        <div style="text-align: center;">
            <span style="float: left;"><button>❮</button></span>
            <span style="float: right;"><button>❯</button></span>
        </div>
    </body>
</html>